<div class="white mt-4" cdkDrag cdkDragRootElement=".cdk-overlay-pane" >
  <h5 cdkDragHandle class="p-3 title-bg">
    Patient Care Plan<button style="color:white" class="close" (click)="dialogClose()" aria-label="Close">
      <span aria-hidden="true">X</span>
    </button>
  </h5>
  <form [formGroup]="Patientplan">
    <mat-card class="px-4 py-2 my-2">
      <div class="row w-100">
        <div class="col-xl-3 col-lg-6 pb-3 pt-3">
          <mat-form-field  class="w-100" appearance="outline">
            <mat-label>Visit Date & Time</mat-label>
            <input matInput placeholder="Enter" formControlName="VisitDateandTime">
          </mat-form-field>
        </div>
       <div class="col-xl-2 col-lg-6 pb-3 pt-3">
          <mat-form-field  class="w-100" appearance="outline">
            <mat-label>Recorded Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="RecordedDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
       <div class="col-xl-2 timepick pb-3 pt-3">
          <mat-form-field  class="input-full-width timer w-100" appearance="outline">
            <input matInput [ngxTimepicker]="toggleTimepicker1" [disableClick]="true" formControlName="RecordedTime">
            <mat-label>Recorded Time</mat-label>
            <ngx-material-timepicker-toggle [for]="toggleTimepicker1">
            </ngx-material-timepicker-toggle>
            <ngx-material-timepicker #toggleTimepicker1>
            </ngx-material-timepicker>
          </mat-form-field>
        </div>
        <div class="col-xl-2 col-lg-6 pb-3 pt-3">
          <mat-form-field  class="w-100" appearance="outline">
            <mat-label>Recorded During</mat-label>
            <input matInput placeholder="Enter" formControlName="recordedDuring">
          </mat-form-field>
        </div>
        <div class="col-xl-3 col-lg-6 pb-3 pt-3">
          <mat-form-field  class="w-100" appearance="outline">
            <mat-label>Recorded By </mat-label>
            <input matInput placeholder="Enter" formControlName="RecordedBy">
          </mat-form-field>
        </div>
     </div>
    </mat-card>
  </form>
  <mat-card>
    <div class="row p-0 m-0 scroll-md">
      <div class="col-xl-6">
        <div class="v-line">
          <div class="pt-1 pb-1">
              <div class="row pb-1 pt-3">
              <div class="col font_color">Duration</div>
              <div class="col-lg-1">:</div>
              <div class="col-lg-7">{{data.Duration}}</div>
            </div>
             <div class="row pb-1 pt-3">
              <div class="col font_color">Start Date</div>
              <div class="col-lg-1">:</div>
              <div class="col-lg-7">{{data.StartDate |date:"dd/MM/yyyy"}}</div>
            </div>
           <div class="row pb-1 pt-3">
              <div class="col font_color">End Date</div>
              <div class="col-lg-1">:</div>
              <div class="col-lg-7">{{data.EndDate |date:"dd/MM/yyyy"}}</div>
            </div>
            <div class="row pb-1 pt-3">
              <div class="col font_color">Care Plan Status</div>
              <div class="col-lg-1">:</div>
              <div class="col-lg-7">{{data.CarePlanStatus}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="v-line">
          <div class="pt-3 pb-2">
            <div class="row pb-1 pt-3">
              <div class="col font_color">Progress</div>
              <div class="col-lg-1">:</div>
              <div class="col-lg-7">{{data.Progress}}</div>
            </div>
            <div class="row pb-1 pt-3">
              <div class="col font_color">Next Visit Date</div>
              <div class="col-lg-1">:</div>
              <div class="col-lg-7">{{data.NextVisitDate |date:"dd/MM/yyyy"}}</div>
            </div>
            <div class="row pb-1 pt-3">
              <div class="col font_color">Additional Information</div>
              <div class="col-lg-1">:</div>
              <div class="col-lg-7">{{data.AdditionalNotes}}</div>
            </div>
            <div class="row pb-1 pt-3">
              <div class="col font_color">PlanningActivity</div>
              <div class="col-lg-1">:</div>
              <div class="col-lg-7">{{data.PlanningActivity}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>

