<div class="bg-white upload-da" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12  dark-color padding-none">
      <h5 cdkDragHandle class="p-3 title-bg">
        <b>e-Lab Billing Setup</b>
        <button style="color:white" class="close" (click)="close()" aria-label="Close">
          <span aria-hidden="true">X</span>
        </button>
      </h5>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12  dark-color padding-none">
          <form [formGroup]="ElabBillingSetupForm">
            <div class="row mb-4">
              <div class="col-12">
                <mat-card>
                  <div class="row">

                    <div class="col-lg-3">
                      <mat-form-field class="w-100" [matTooltip]="DepartmentToolTipValue" matTooltipPosition="below"
                        matTooltipClass="Tooltip-sm" appearance="outline">
                        <mat-label> Department </mat-label>
                        <input type="text" matInput readonly formControlName="DepartmentID">
                      </mat-form-field>
                    </div>

                    <div class="col-lg-3">
                      <mat-form-field class="w-100" [matTooltip]="TestNameToolTipValue" matTooltipPosition="below"
                        matTooltipClass="Tooltip-sm" appearance="outline">
                        <mat-label> Test Name </mat-label>
                        <input type="text" matInput readonly formControlName="TestName">
                      </mat-form-field>
                    </div>

                    <div class="col-lg-3">
                      <mat-form-field class="w-100" [matTooltip]="TestSubNameToolTipValue" matTooltipPosition="below"
                        matTooltipClass="Tooltip-sm" appearance="outline">
                        <mat-label>Test Name Sub</mat-label>
                        <input matInput placeholder="Enter" readonly formControlName="TestSubName">
                      </mat-form-field>
                    </div>

                    <div class="col-xl-3">
                      <mat-form-field class="w-100" appearance="outline">
                        <mat-label><span class="required-asterisk"
                            *ngIf="(ElabBillingSetupForm.value.Status == '' || ElabBillingSetupForm.value.Status == null) ? true : false">
                          </span>Status</mat-label>
                        <mat-select formControlName="Status">
                          <mat-option *ngFor="let option of StatusValue" [value]="option.LabMasterStatusDescription">
                            {{option.LabMasterStatusDescription}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div class="col-lg-3">
                      <mat-form-field class="w-100" appearance="outline">
                        <mat-label><span class="required-asterisk"
                            *ngIf="(ElabBillingSetupForm.value.OrderNo == '' || ElabBillingSetupForm.value.OrderNo == null) ? true : false">
                          </span>Order Number</mat-label>
                        <input matInput numeric placeholder="Enter Number" formControlName="OrderNo">
                      </mat-form-field>
                    </div>

                    <div class="col-lg-3">
                      <mat-form-field class="w-100" appearance="outline">
                        <mat-label><span class="required-asterisk"
                            *ngIf="(ElabBillingSetupForm.value.Charges == '' || ElabBillingSetupForm.value.Charges == null) ? true : false">
                          </span>Charges</mat-label>
                        <input numeric matInput placeholder="Enter Charges" formControlName="Charges">
                      </mat-form-field>
                    </div>

                  </div>
                  <div class="row col-xl-12">
                    <div class="col-xl-6 mt-3"></div>
                    <div class="col-xl-6 text-right">
                      <button mat-flat-button color="" class="custome-button mr-2 mat-primary" (click)="submitData()">
                        Save</button>
                      <button mat-stroked-button class="transperent-button" color="primary"
                        (click)="clear()">Clear</button>
                    </div>
                  </div>
                </mat-card>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>