
<div class="white mt-4">
  <mat-card class="p-1">

    <h5 class="p-3 title-bg">Master Billing</h5>


    
      <div class="row  pb-1">
        <div class="col font_color">DepartmentID</div>
        <div class="col-lg-1">:</div>
        <div class="col-lg-7">{{data.DepartmentName}}</div>
      </div>




      <div class="row  pb-2">
        <div class="col font_color">Description</div>
        <div class="col-lg-1">:</div>
        <div class="col-lg-7">{{data.BillingTypeDesc}}</div>
      </div>

      <div class="row  pb-2">
        <div class="col font_color">MasterBillingType</div>
        <div class="col-lg-1">:</div>
        <div class="col-lg-7">{{data.MasterBillingType}}</div>
      </div>

   


    

      <div class="row  pb-1">
        <div class="col font_color">Status</div>
        <div class="col-lg-1">:</div>
        <div class="col-lg-7">{{data.Status}}</div>
      </div>

      <div class="row  pb-1">
        <div class="col font_color">AllowSubMaster</div>
        <div class="col-lg-1">:</div>
        <div class="col-lg-7">{{data.AllowSubMaster}}</div>
      </div>



      <div class="row  pb-1">
        <div class="col font_color">OrderNo</div>
        <div class="col-lg-1">:</div>
        <div class="col-lg-7">{{data.OrderNo}}</div>
      </div>


      

  </mat-card>

</div>



