<!-- <div class="d-flex justify-content-between w-100 align-items-center pb-4">
        <div class="row justify-content-between w-100 opdstop">
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 opdstopres pl-0">
                        <div class=" barcode-scan">
                                <div class="barcode">
                                        <img src="assets/images/opd/barcode.png" />
                                </div>
                                <span>1234567</span>
                        </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 opdstopres pl-0">
                        <button mat-flat-button color="" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"
                                class="custome-button mat-primary barbtn">
                                Submit
                        </button>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 opdstopres">
                        <input type="search" placeholder="Search" class="barsearch">
                </div>
        </div>
</div> -->
<div class="white mt-0 mb-4">
        <mat-card class="p-0">
                <div class="scroll-x">
                        <div class="row p-0 m-0 scroll-md">
                                <div class="col-sm-1 p-0 ">
                                        <img src="assets/images/patient-img.png" class="img-fluid" height="136" />
                                </div>

                                <div class="col-sm-4">
                                        <div class="v-line">
                                                <div class="pt-3 pb-2">
                                                        <div class="row pb-1">
                                                                <div class="col-xl-4 col-lg-4 col-md-4 font_color">
                                                                        Patient Name</div>
                                                                <div class="col-xl-1 col-lg-1 col-md-1">:</div>
                                                                <div class="col-xl-7 col-lg-7 col-md-7">Mr.Rahul Sharma
                                                                </div>
                                                        </div>

                                                        <div class="row  pb-1">
                                                                <div class="col font_color">DOB/ Age</div>
                                                                <div class="col-lg-1">:</div>
                                                                <div class="col-lg-7">25-08-1994(25 Years)</div>
                                                        </div>

                                                        <div class="row  pb-1">
                                                                <div class="col font_color">Cell Number</div>
                                                                <div class="col-lg-1">:</div>
                                                                <div class="col-lg-7">+91-123456789</div>
                                                        </div>

                                                        <div class="row">
                                                                <div class="col font_color">Next of kin</div>
                                                                <div class="col-lg-1">:</div>
                                                                <div class="col-lg-7">Mr.Roshan Sharma (Father)</div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>

                                <div class="col-sm-4 v-line">
                                        <div class="pt-3 col flex-grow-1 w-auto">
                                                <div class="row pb-1">
                                                        <div class="col pl-4 font_color ">Primary Physician</div>
                                                        <div class="col-lg-1">:</div>
                                                        <div class="col">Dr.Nithin Parmar</div>
                                                </div>
                                                <div class="row pb-1">
                                                        <div class="col pl-4 font_color ">Last Visit Date</div>
                                                        <div class="col-lg-1">:</div>
                                                        <div class="col">14-02-2019</div>
                                                </div>
                                                <div class="row pb-1">
                                                        <div class="col pl-4 font_color ">Diabetic</div>
                                                        <div class="col-lg-1">:</div>
                                                        <div class="col">NO</div>
                                                </div>
                                                <div class="row pb-1">
                                                        <div class="col pl-4 red">Allergies</div>
                                                        <div class="col-lg-1">:</div>
                                                        <div class="col red">Hives</div>
                                                </div>
                                        </div>
                                </div>

                                <div class="col-sm-3 w-auto v-line">
                                        <div class="pt-3 col flex-grow-1 w-auto">
                                                <div class="row">
                                                        <div class="col pl-4 font_color ">Bill Amount</div>
                                                        <div class="col-lg-1">:</div>
                                                        <div class="col">5000</div>
                                                </div>
                                                <div class="row">
                                                        <div class="col pl-4 font_color ">Paid</div>
                                                        <div class="col-lg-1">:</div>
                                                        <div class="col">2500</div>
                                                </div>
                                                <div class="row">
                                                        <div class="col pl-4 font_color ">Balance</div>
                                                        <div class="col-lg-1">:</div>
                                                        <div class="col">2500</div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </mat-card>
</div>


