 <!-- <div class="common_submenu p-2  d-flex ">
  <div class="d-flex"> -->

   <!--  <div class="pr-4 ">
      <button mat-button class="d-flex align-content-center" routerLink="/home/opds/visit">
        <mat-icon><img src='assets/images/opd/patient-list.png' /> </mat-icon>
        <span class="f-18 theme-text-color">Visit</span>
      </button>
    </div>

    <div class="pr-4 ">
      <button mat-button class="d-flex align-content-center" routerLink="/home/opds/visitintake">
        <mat-icon><img src='assets/images/opd/visitintake.png' /> </mat-icon>
        <span class="f-18  theme-text-color">Visit Intake</span>
      </button>
    </div> -->
    <!-- <div class="pr-4 ">
      <button mat-button class="d-flex align-content-center" routerLink="/home/opds/triage">
        <mat-icon><img src='assets/images/opd/triage.png' /> </mat-icon>
        <span class="f-18 theme-text-color">Triage</span>
      </button>
    </div> -->
    <!-- <div class="pr-4 ">
      <button mat-button class="d-flex align-content-center" mat-button [matMenuTriggerFor]="menu3"
        #consultTrigger="matMenuTrigger">
        <mat-icon><img src='assets/images/opd/consult.png' /> </mat-icon>
        <span class="f-18  theme-text-color">OPD</span>
      </button>
    </div>
    <mat-menu #menu3="matMenu">
      <div *ngFor=" let subitem of subMenuVals3">
        <button class="submenuicons" mat-menu-item [routerLink]="subitem.Url">
          <mat-icon [innerHTML]="subitem.Icon"></mat-icon>
          <span class="menu-title" [innerHTML]="subitem.Title"></span>
        </button>
      </div>
    </mat-menu> -->
    <!-- <div class="pr-4 ">
      <button mat-button class="d-flex align-content-center" mat-button [matMenuTriggerFor]="menu1"
        #consultTrigger="matMenuTrigger">
        <mat-icon><img src='assets/images/opd/consult.png' /> </mat-icon>
        <span class="f-18  theme-text-color">Consult</span>
      </button>
    </div>
    <mat-menu #menu1="matMenu">
      <div *ngFor=" let subitem of subMenuVals">
        <button class="submenuicons" mat-menu-item [routerLink]="subitem.Url">
          <mat-icon [innerHTML]="subitem.Icon"></mat-icon>
          <span class="menu-title" [innerHTML]="subitem.Title"></span>
        </button>
      </div>
    </mat-menu> -->
    <!-- <div class="pr-4 ">
      <button mat-button class="d-flex align-content-center" mat-button [matMenuTriggerFor]="menu2"
        #consultTrigger="matMenuTrigger">
        <mat-icon><img src='assets/images/opd/consult.png' /> </mat-icon>
        <span class="f-18  theme-text-color">Tests</span>
      </button>
    </div>
    <mat-menu #menu2="matMenu">
      <div *ngFor=" let subitem of subMenuVals1">
        <button class="submenuicons" mat-menu-item [routerLink]="subitem.Url">
          <mat-icon [innerHTML]="subitem.Icon"></mat-icon>
          <span class="menu-title" [innerHTML]="subitem.Title"></span>
        </button>
      </div>
    </mat-menu> -->
<!-- 
     <div class="pr-4 ">
      <button mat-button class="d-flex align-content-center" mat-button [matMenuTriggerFor]="menu"
        #consultTrigger="matMenuTrigger">
        <mat-icon><img src='assets/images/opd/consult.png' /> </mat-icon>
        <span class="f-18  theme-text-color">Surgical Care/OT</span>
      </button>
    </div> 
    <mat-menu #menu="matMenu">
      <div *ngFor=" let subitem of subMenuVals2">
        <button class="submenuicons" mat-menu-item [routerLink]="subitem.Url">
          <mat-icon [innerHTML]="subitem.Icon"></mat-icon>
          <span class="menu-title" [innerHTML]="subitem.Title"></span>
        </button>
      </div>
    </mat-menu> -->

    <!-- <div class="pr-4 mr-2">

      <button mat-button [matMenuTriggerFor]="mrmenu" #medicalMenuTrigger="matMenuTrigger" class="d-flex align-content-center">
        <mat-icon><img src='assets/images/patientprofile/medical-records.png' /> </mat-icon>
        <span class="f-18  theme-text-color">Medical Records</span>
      </button>
    </div>

    <mat-menu #mrmenu="matMenu" class="fatMenu">
      <div *ngFor=" let subitem of subMenuMedical" class="fatDiv">
        <button class="submenuicons" mat-menu-item [routerLink]="subitem.Url">
          <mat-icon [innerHTML]="subitem.Icon"></mat-icon>
          <span class="menu-title" [innerHTML]="subitem.Title"></span>
        </button>
      </div>
    </mat-menu> -->

     <!-- <div class="pr-4 ">
      <button mat-button class="d-flex align-content-center" routerLink="/home/opds/patienttimeline">
        <mat-icon><img src='assets/images/opd/visitintake.png' /> </mat-icon>
        <span class="f-18  theme-text-color">Patient Timeline</span>
      </button>
    </div> 
  </div>
</div>  -->

<router-outlet></router-outlet> 