<h5 class="p-3 title-bg">
  Referral <button style="color:white" class="close" (click)="dialogClose()" aria-label="Close">
    <span aria-hidden="true">X</span>
  </button>
</h5>
    <div class="overflow-auto">
      <mat-tab-group>
  <mat-tab label="Order">
    <div class="overflow-hidden ">
      <div class="row px-2 bg-white">
        <table class="table table-bordered">
          <thead class="tablePopHead">
            <tr>
              <th>S.No</th>
              <th>Orders</th>
              <th>Results Date</th>
              <th>Order By</th>
              <th>Results</th>
              <th>Comments</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Chest X-Ray</td>
              <td>17-05-2019</td>
              <td>Raj Singh</td>
              <td>Cleared</td>
              <td></td>
            </tr>
            <tr>
              <td>2</td>
              <td>EKG</td>
              <td>17-05-2019</td>
              <td>Ravi </td>
              <td> Pending</td>
              <td> </td>
            </tr>
            <tr>
              <td>3</td>
              <td>Pulmonary Consult</td>
              <td>17-05-2019</td>
              <td>Ashok Kumar</td>
              <td> Pending</td>
              <td> </td>
            </tr>
            <tr>
              <td>4</td>
              <td>Cardiology consult</td>
              <td>17-05-2019</td>
              <td>Rahul Sharma</td>
              <td> Not Cleared</td>
              <td> </td>
            </tr>
            <tr>
              <td>5</td>
              <td>Labs</td>
              <td>17-05-2019</td>
              <td>Raju</td>
              <td> Cleared</td>
              <td> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Pervious Order">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="col-xl-3">Order No : 20158</div>
            <div class="col-xl-3">Date : 15-05-2019</div>
            <div class="col-xl-3">Time : 11.50 AM</div>
            <div class="col-xl-3">Doctor Name : Dr.Amit Roy</div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-xl-12 col-lg-12">
            <div class="table-responsive shroff-table reduce-field">
              <table class="table table-bordered">
          <thead class="tablePopHead">
            <tr>
              <th>S.No</th>
              <th>Orders</th>
              <th>Results Date</th>
              <th>Order By</th>
              <th>Results</th>
              <th>Comments</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Chest X-Ray</td>
              <td>17-05-2019</td>
              <td>Raj Singh</td>
              <td>Cleared</td>
              <td></td>
            </tr>
            <tr>
              <td>2</td>
              <td>EKG</td>
              <td>17-05-2019</td>
              <td>Ravi </td>
              <td> Pending</td>
              <td> </td>
            </tr>
            <tr>
              <td>3</td>
              <td>Pulmonary Consult</td>
              <td>17-05-2019</td>
              <td>Ashok Kumar</td>
              <td> Pending</td>
              <td> </td>
            </tr>
            <tr>
              <td>4</td>
              <td>Cardiology consult</td>
              <td>17-05-2019</td>
              <td>Rahul Sharma</td>
              <td> Not Cleared</td>
              <td> </td>
            </tr>
            <tr>
              <td>5</td>
              <td>Labs</td>
              <td>17-05-2019</td>
              <td>Raju</td>
              <td> Cleared</td>
              <td> </td>
            </tr>
          </tbody>
        </table>
            </div>
            <!--end of .table-responsive-->
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="col-xl-3">Order No : 20189</div>
            <div class="col-xl-3">Date : 15-05-2019</div>
            <div class="col-xl-3">Time : 11.50 AM</div>
            <div class="col-xl-3">Doctor Name : Dr.Amit Roy</div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-xl-12 col-lg-12">
            <div class="table-responsive shroff-table reduce-field">
              <table class="table table-bordered">
          <thead class="tablePopHead">
            <tr>
              <th>S.No</th>
              <th>Orders</th>
              <th>Results Date</th>
              <th>Order By</th>
              <th>Results</th>
              <th>Comments</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Chest X-Ray</td>
              <td>17-05-2019</td>
              <td>Raj Singh</td>
              <td>Cleared</td>
              <td></td>
            </tr>
            <tr>
              <td>2</td>
              <td>EKG</td>
              <td>17-05-2019</td>
              <td>Ravi </td>
              <td> Pending</td>
              <td> </td>
            </tr>
            <tr>
              <td>3</td>
              <td>Pulmonary Consult</td>
              <td>17-05-2019</td>
              <td>Ashok Kumar</td>
              <td> Pending</td>
              <td> </td>
            </tr>
            <tr>
              <td>4</td>
              <td>Cardiology consult</td>
              <td>17-05-2019</td>
              <td>Rahul Sharma</td>
              <td> Not Cleared</td>
              <td> </td>
            </tr>
            <tr>
              <td>5</td>
              <td>Labs</td>
              <td>17-05-2019</td>
              <td>Raju</td>
              <td> Cleared</td>
              <td> </td>
            </tr>
          </tbody>
        </table>
            </div>
            <!--end of .table-responsive-->
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
     <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="col-xl-3">Order No : 20201</div>
            <div class="col-xl-3">Date : 15-05-2019</div>
            <div class="col-xl-3">Time : 11.50 AM</div>
            <div class="col-xl-3">Doctor Name : Dr.Amit Roy</div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-xl-12 col-lg-12">
            <div class="table-responsive shroff-table reduce-field">
              <table class="table table-bordered">
          <thead class="tablePopHead">
            <tr>
              <th>S.No</th>
              <th>Orders</th>
              <th>Results Date</th>
              <th>Order By</th>
              <th>Results</th>
              <th>Comments</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Chest X-Ray</td>
              <td>17-05-2019</td>
              <td>Raj Singh</td>
              <td>Cleared</td>
              <td></td>
            </tr>
            <tr>
              <td>2</td>
              <td>EKG</td>
              <td>17-05-2019</td>
              <td>Ravi </td>
              <td> Pending</td>
              <td> </td>
            </tr>
            <tr>
              <td>3</td>
              <td>Pulmonary Consult</td>
              <td>17-05-2019</td>
              <td>Ashok Kumar</td>
              <td> Pending</td>
              <td> </td>
            </tr>
            <tr>
              <td>4</td>
              <td>Cardiology consult</td>
              <td>17-05-2019</td>
              <td>Rahul Sharma</td>
              <td> Not Cleared</td>
              <td> </td>
            </tr>
            <tr>
              <td>5</td>
              <td>Labs</td>
              <td>17-05-2019</td>
              <td>Raju</td>
              <td> Cleared</td>
              <td> </td>
            </tr>
          </tbody>
        </table>
            </div>
            <!--end of .table-responsive-->
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-tab>
</mat-tab-group>
    </div>
<button mat-flat-button color="" class="custome-button mat-primary mr-2 mt-3" (click)="onNoClick()">Close</button>
