<mat-card>
    <mat-card class="p-0 mb-3">
        <div class="scroll-x">
            <div class="row p-0 m-0 scroll-md">
                <div class="col-sm-1 p-0 ">
                    <img src="assets/images/patient-img.png" class="img-fluid" height="136" />
                </div>

                <div class="col-sm-4">
                    <div class="v-line">
                        <div class="pt-3 pb-2">
                            <div class="row pb-1">
                                <div class="col-xl-4 col-lg-4 col-md-4 font_color">
                                    Patient Name</div>
                                <div class="col-xl-1 col-lg-1 col-md-1">:</div>
                                <div class="col-xl-7 col-lg-7 col-md-7">Mr.Rahul Sharma
                                </div>
                            </div>

                            <div class="row  pb-1">
                                <div class="col font_color">DOB/ Age</div>
                                <div class="col-lg-1">:</div>
                                <div class="col-lg-7">25-08-1994(25 Years)</div>
                            </div>

                            <div class="row  pb-1">
                                <div class="col font_color">Cell Number</div>
                                <div class="col-lg-1">:</div>
                                <div class="col-lg-7">+91-123456789</div>
                            </div>

                            <div class="row">
                                <div class="col font_color">Next of kin</div>
                                <div class="col-lg-1">:</div>
                                <div class="col-lg-7">Mr.Roshan Sharma (Father)</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 v-line">
                    <div class="pt-3 col flex-grow-1 w-auto">
                        <div class="row pb-1">
                            <div class="col pl-4 font_color ">Primary Physician</div>
                            <div class="col-lg-1">:</div>
                            <div class="col">Dr.Nithin Parmar</div>
                        </div>
                        <div class="row pb-1">
                            <div class="col pl-4 font_color ">Last Visit Date</div>
                            <div class="col-lg-1">:</div>
                            <div class="col">14-02-2019</div>
                        </div>
                        <div class="row pb-1">
                            <div class="col pl-4 font_color ">Diabetic</div>
                            <div class="col-lg-1">:</div>
                            <div class="col">NO</div>
                        </div>
                        <div class="row pb-1">
                            <div class="col pl-4 red">Allergies</div>
                            <div class="col-lg-1">:</div>
                            <div class="col red">Hives</div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 w-auto v-line">
                    <div class="pt-3 col flex-grow-1 w-auto">
                        <div class="row">
                            <div class="col pl-4 font_color ">Bill Amount</div>
                            <div class="col-lg-1">:</div>
                            <div class="col">5000</div>
                        </div>
                        <div class="row">
                            <div class="col pl-4 font_color ">Paid</div>
                            <div class="col-lg-1">:</div>
                            <div class="col">2500</div>
                        </div>
                        <div class="row">
                            <div class="col pl-4 font_color ">Balance</div>
                            <div class="col-lg-1">:</div>
                            <div class="col">2500</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>

    <mat-card-content [style.overflow]="'auto'" [style.height.px]="'600'">
        <div class="white p-3">
            <mat-card class="p-0">
                <h5 class="p-3 title-bg">Admission Details</h5>
                <div class="pt-3">
                    <div class="row">
                        <div class="col-lg-6 pb-3">
                            <div class="col-xl-4 col-lg-4 col-md-4 f-l font_color">
                                Admission Date & Time
                            </div>
                            <div class="col-xl-1 col-lg-1 col-md-1 f-l">:</div>
                            <div class="col-xl-7 col-lg-7 col-md-7 f-l">11/06/2019 11.55 AM
                            </div>
                        </div>
                        <div class="col-lg-6 pb-3">
                            <div class="col-xl-4 col-lg-4 col-md-4 f-l font_color">
                                OT Date
                            </div>
                            <div class="col-xl-1 col-lg-1 col-md-1 f-l">:</div>
                            <div class="col-xl-7 col-lg-7 col-md-7 f-l">11/06/2019
                            </div>
                        </div>

                        <div class="col-lg-6 pb-3">
                            <div class="col-xl-4 col-lg-4 col-md-4 f-l font_color">Urgency</div>
                            <div class="col-lg-1 f-l">:</div>
                            <div class="col-lg-7 f-l">Elective</div>
                        </div>
                        <div class="col-lg-6 pb-3">
                            <div class="col-xl-4 col-lg-4 col-md-4 f-l font_color">Procedure</div>
                            <div class="col-lg-1 f-l">:</div>
                            <div class="col-lg-7 f-l">Elective</div>
                        </div>
                        <div class="col-lg-6 pb-3">
                            <div class="col-xl-4 col-lg-4 col-md-4 f-l font_color">Surgen Name</div>
                            <div class="col-lg-1 f-l">:</div>
                            <div class="col-lg-7 f-l">Elective</div>
                        </div>

                        <div class="col-lg-6 pb-3">
                            <div class="col-xl-4 col-lg-4 col-md-4 f-l font_color">Chief Complaint</div>
                            <div class="col-lg-1 f-l">:</div>
                            <div class="col-lg-7 f-l">Ear Pain</div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>

        <div class="white mt-0 mb-4">
            <mat-card class="p-0 mb-4">
                <div class="scroll-x">
                    <div class="row p-0 m-0 scroll-md">
                        <div class="col-sm-12 w-auto">
                            <div class="v-line">
                                <div class="pt-3 pb-2">
                                    <mat-card class="mb-4 p-0">
                                        <h5 class="p-3 title-bg">PRE-PROCEDURE DIAGNOSIS</h5>
                                        <div class="row  p-2">
                                            <div class="col-lg-7">
                                                <div>1. Left chronic anterior and posterior ethmoiditis.</div>
                                                <div>2. Left chronic maxillary sinusitis with polyps.</div>
                                                <div>3. Left inferior turbinate hypertrophy.</div>
                                                <div>4. Right anterior and posterior chronic ethmoiditis.</div>
                                                <div>5. Right chronic maxillary sinusitis with polyps.</div>
                                                <div>6. Right chronic inferior turbinate hypertrophic.</div>
                                                <div>7. Intranasal deformity causing nasal obstruction due to septal deviation.</div>
                                            </div>
                                        </div>
                                    </mat-card>


                                    <mat-card class="mb-4 p-0">
                                        <h5 class="p-3 title-bg">RECOMMENDED PROCEDURE</h5>
                                        <div class="pt-3">
                                            <div class="row">
                                                <div class="col-lg-6 pb-2">
                                                    <div class="col-xl-4 col-lg-4 col-md-4 f-l font_color">Recommended procedure</div>
                                                    <div class="col-xl-1 f-l">:</div>
                                                    <div class="col-xl-7 col-lg-7 col-md-7 f-l">Tonsillecfomy
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 pb-2">
                                                    <div class="col-xl-4 col-lg-4 col-md-4 f-l font_color">Reference No</div>
                                                    <div class="col-xl-1 f-l">:</div>
                                                    <div class="col-xl-7 col-lg-7 col-md-7 f-l">EABC1234
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 pb-2">
                                                    <div class="col-xl-4 col-lg-4 col-md-4 f-l font_color">Order issue Date</div>
                                                    <div class="col-xl-1 f-l">:</div>
                                                    <div class="col-lg-7 f-l">13/06/2019</div>
                                                </div>
                                                <div class="col-lg-6 pb-2">
                                                    <div class="col-xl-4 col-lg-4 col-md-4 f-l font_color">Procedure Name</div>
                                                    <div class="col-xl-1 f-l">:</div>
                                                    <div class="col-lg-7 f-l">Tonsillecfomy</div>
                                                </div>
                                                <div class="col-lg-6 pb-2">
                                                    <div class="col-xl-4 col-lg-4 col-md-4 f-l font_color">Recommended by</div>
                                                    <div class="col-xl-1 f-l">:</div>
                                                    <div class="col-lg-7 f-l">Dr. Amit Vyas</div>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-card>

                                    <mat-card class="mb-4 p-0">
                                        <h5 class="p-3 title-bg">POST-PROCEDURE NOTES</h5>
                                        <div class="pt-3">
                                            <div class="row">
                                                <div class="col-lg-12 pb-2">
                                                    <div class="col-xl-2 col-lg-4 col-md-4 f-l font_color">Postoperative Diagnosis</div>
                                                    <div class="f-l">:</div>
                                                    <div class="col-xl-7 col-lg-7 col-md-7 f-l">
                                                        <div>1. Left chronic anterior and posterior ethmoiditis.</div>
                                                        <div>2. Left chronic maxillary sinusitis with polyps.</div>
                                                        <div>3. Left inferior turbinate hypertrophy.</div>
                                                        <div>4. Right anterior and posterior chronic ethmoiditis.</div>
                                                        <div>5. Right chronic maxillary sinusitis with polyps.</div>
                                                        <div>6. Right chronic inferior turbinate hypertrophic.</div>
                                                        <div>7. Intranasal deformity causing nasal obstruction due to septal deviation.</div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 pb-2">
                                                    <div class="col-xl-2 col-lg-4 col-md-4 f-l font_color">Anesthesia</div>
                                                    <div class="f-l">:</div>
                                                    <div class="col-xl-7 col-lg-7 col-md-7 f-l">General Endotracheal
                                                    </div>
                                                </div>

                                                <div class="col-lg-12 pb-2">
                                                    <div class="col-xl-2 col-lg-4 col-md-4 f-l font_color">Blood Loss Info</div>
                                                    <div class="f-l">:</div>
                                                    <div class="col-lg-7 f-l">Approximately 20 cc</div>
                                                </div>
                                                <div class="col-lg-12 pb-2">
                                                    <div class="col-xl-2 col-lg-4 col-md-4 f-l font_color">Specimens</div>
                                                    <div class="f-l">:</div>
                                                    <div class="col-lg-7 f-l">Not Taken</div>
                                                </div>
                                                <div class="col-lg-12 pb-2">
                                                    <div class="col-xl-2 col-lg-4 col-md-4 f-l font_color">Pain/discomfort Level</div>
                                                    <div class="f-l">:</div>
                                                    <div class="col-lg-7 f-l">-</div>
                                                </div>
                                                <div class="col-lg-12 pb-2">
                                                    <div class="col-xl-2 col-lg-4 col-md-4 f-l font_color">Complications</div>
                                                    <div class="f-l">:</div>
                                                    <div class="col-lg-7 f-l">Unknown at this Stage</div>
                                                </div>
                                                <div class="col-lg-12 pb-2">
                                                    <div class="col-xl-2 col-lg-4 col-md-4 f-l font_color">Procedure</div>
                                                    <div class="f-l">:</div>
                                                    <div class="col-lg-7 f-l">The patient was brought to the operating room and placed in the supine
                                                        position. After adequate endotracheal anesthesia was obtained, the
                                                        skin was prepped and draped in sterile fashion. Lidocaine 1% with
                                                        1:100,000 epinephrine was injected into the region of the anterior
                                                        portion of the nasal septum. Approximately 10 cc total was used.
                                                        A #15 blade and the Freer elevator were used to help make a standard
                                                        hemitransfixion incision. A mucoperichondrial flap was carefully
                                                        elevated, and the junction with the cartilaginous bony septum was
                                                        separated with the Freer elevator. The bony deflection was removed
                                                        using Jansen-Middleton forceps. The cartilaginous deflection was
                                                        created by freeing up the inferior attachments to the cartilaginous
                                                        septum, placing it more on the midline maxillary crest. The initial
                                                        incision was placed in its anatomical position and secured with a
                                                        4-0 nylon suture for stabilization effect. Attention then was directed
                                                        toward the left side. Lidocaine 1% with 1:100,000 epinephrine was
                                                        injected in the region of the anterior portion of the left middle
                                                        turbinate and uncinate process and polyps. Approximately 10 cc total
                                                        was used. The polyps were removed using the Richards essential shaver
                                                        to help identify the middle turbinate and uncinate process better.
                                                        The uncinate process was removed systematically superiorly to inferiorly
                                                        with back-biting forceps. Next, the maxillary antrostomy was identified
                                                        and expanded with the back-biting forceps and showed polypoid accumulation
                                                        in the mucosal disease on its opening site. The sinus linings were
                                                        edematous but did not have any polyps in the inferior, lateral, or
                                                        superior aspects. The anterior and posterior ethmoid air cells were
                                                        entered primarily and dissected with the Richards essential shaver
                                                        followed by the use of a 30-degree endoscope and up-biting forceps
                                                        for the superior and lateral dissection. Bright mucosal disease and
                                                        small polypoid accumulations were noted through the sinuses also.
                                                        The inferior turbinates had some polypoid changes on them also and
                                                        showed marked mucosal irritation and hypertrophy. The mucosal polypoid
                                                        accumulations were cleared using the Richards essential shaver. The
                                                        turbinate was partially resected from mucosally but with good shape
                                                        to it. It was not desirable to remove it in its entirety. Any obvious
                                                        bleeding points along the edge were controlled with the suction Bovie
                                                        apparatus. The same procedure and findings were noted on the right
                                                        side with 1% lidocaine with 1:100,000 epinephrine injected into the
                                                        anterior portion of the right middle turbinate, polyps, and uncinate
                                                        process; 10 cc total were used. The polyps were removed. The Richards
                                                        essential shaver was used to allow better exposure of the uncinate
                                                        process. The uncinate process was removed superiorly to inferiorly
                                                        with back-biting side-biting forceps. Next, a maxillary antrostomy
                                                        was identified and expanded with the back-biting and side-biting
                                                        forceps and showed all plate accumulations there also. The anterior
                                                        and posterior ethmoid air cells were then entered primarily and dissected
                                                        with Richards essential shaver followed by the use of the 30-degree
                                                        scope and up-biting forceps for the superior and lateral resection.
                                                        The inferior turbinates showed mucosal disease, polypoid accumulations,
                                                        and changes. These were removed using the Richards essential shaver
                                                        followed by a submucosal resection of the hypertrophied portion of
                                                        the turbinate. Any obvious bleeding points were controlled with the
                                                        suction Bovie apparatus. A thorough irrigation was then carried out
                                                        in the nasal cavity, and Gelfilm packing was used to coat the linings
                                                        in the middle meatal regions. The patient tolerated the procedure
                                                        well and returned to the recovery room in stable condition.
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 pb-2">
                                                    <div class="col-xl-2 col-lg-4 col-md-4 f-l font_color">History</div>
                                                    <div class="f-l">:</div>
                                                    <div class="col-lg-7 f-l">NA</div>
                                                </div>
                                                <div class="col-lg-12 pb-2">
                                                    <div class="col-xl-2 col-lg-4 col-md-4 f-l font_color">Additional info</div>
                                                    <div class="f-l">:</div>
                                                    <div class="col-lg-7 f-l">NA</div>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-card>

                                    <!-- <mat-card class="mb-4 p-0">
                                        <h5 class="p-3 title-bg">NAME OF PROCEDURE</h5>
                                        <div class="row  p-2">
                                            <div class="col-lg-12">
                                                Bilateral endoscopic sinus surgery, including left anterior and posterior ethmoidectomy, left maxillary antrostomy with polyp
                                                removal, left inferior partial turbinectomy, right anterior and posterior
                                                ethmoidectomy, right maxillary antrostomy and polyp removal, right partial
                                                inferior turbinectomy, and septoplasty.
                                            </div>
                                        </div>
                                    </mat-card> -->



                                    <mat-card class="mb-4 p-0">
                                        <h5 class="p-3 title-bg">PATIENT INSTRUCTION</h5>
                                        <div class="row  p-2">
                                            <div class="col-lg-12">

                                            </div>
                                        </div>
                                    </mat-card>


                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </mat-card>
        </div>
    </mat-card-content>
</mat-card>
