<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" >
  <h5 cdkDragHandle class="p-3 title-bg">
    {{showvalue}}  Appointment Type:<button style="color: white" class="close" (click)="dialogClose()" aria-label="Close">
      <span aria-hidden="true">X</span>
    </button>
  </h5>
  <div class="overflow-hidden px-3 pb-2">
    <form [formGroup]="addAppointmentForm">
      <div class="row">

        <div class="col-sm-12 mt-3">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label><span class="required-asterisk" *ngIf="(addAppointmentForm.value.AppointmentTypeCode == '' || addAppointmentForm.value.AppointmentTypeCode == null) ? true : false">
            </span>Appointment Type Code</mat-label>
            <input matInput [readonly]="isReadOnly"
                   placeholder="Enter"
                   formControlName="AppointmentTypeCode" />
          </mat-form-field>
        </div>

        <div class="col-sm-12 mt-3">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label><span class="required-asterisk" *ngIf="(addAppointmentForm.value.AppointmentTypeDescription == '' || addAppointmentForm.value.AppointmentTypeDescription == null) ? true : false">
            </span>Appointment Type Description</mat-label>
            <input matInput
                   placeholder="Enter"
                   formControlName="AppointmentTypeDescription" />
          </mat-form-field>
        </div>

        <div class="col-sm-12 mt-3">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label><span class="required-asterisk" *ngIf="(addAppointmentForm.value.AppointmentTypeOrder == '' || addAppointmentForm.value.AppointmentTypeOrder == null) ? true : false">
            </span>Order No</mat-label>
            <input numeric matInput
                   placeholder="Enter"
                   formControlName="AppointmentTypeOrder" />
          </mat-form-field>
        </div>

      </div>
      <div>
        <div class="text-right justify-content-end">
          <button mat-flat-button
                  color=""
                  class="custome-button mat-primary mr-2"
                  (click)="saveNewAppointment()">
            Save
          </button>
          <button mat-stroked-button
                  class="transperent-button"
                  color="primary"
                  type="button"
                  (click)="cleartheForm()">
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
  
</div>
