<!-- <div class="common_submenu p-2 d-flex ">
  <div class="d-flex scroll-x">
    <div class="pr-4 ">
      <button mat-button class="d-flex align-content-center" routerLink="/home/helpdesk">
        <mat-icon><img src='assets/images/helpdesk/visitor-info.png' /></mat-icon>
        <span class="f-18 theme-text-color">Visitor information</span>
      </button>
    </div>

    <div class="pr-4 ">
      <button mat-button class="d-flex align-content-center" routerLink="/home/helpdesk/list">
        <mat-icon><img src='assets/images/helpdesk/list.png' /></mat-icon>
        <span class="f-18 theme-text-color">List</span>
      </button>
    </div>

    <div>
      <button mat-button class="d-flex align-content-center" routerLink="/home/helpdesk/todays-appointments">
        <mat-icon><img src='assets/images/common/add-appointment.png' /></mat-icon>
        <span class="f-18 theme-text-color">Today's Appointments</span>
      </button>
    </div>
  </div>
</div> -->
<router-outlet></router-outlet>
