<div cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <form [formGroup]="form">

    <h5 cdkDragHandle class="p-3 title-bg">
      Staff Hobby <button style="color:white" class="close" (click)="dialogClose()" aria-label="Close">
        <span aria-hidden="true">X</span>
      </button>
    </h5>
    <div class="row pb-3 pt-3">

      <div class="col-xl-3 col-lg-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>
            <span class="required-asterisk"
                  *ngIf="(form.value.ActivityType == '' || form.value.ActivityType == null) ? true : false"></span>Activity Type
          </mat-label>
          <mat-select formControlName="ActivityType" >
            <mat-option *ngFor="let extracurricularActivitiesType of ExtracurricularActivitiesType" [value]="extracurricularActivitiesType.ActivityTypeId" (click)="ActivityType(extracurricularActivitiesType.ActivityTypeCode)">{{extracurricularActivitiesType.ActivityTypeCode}}</mat-option>
            <input hidden formControlName="ActivityTypeDescription" />
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-xl-6 col-lg6">
        <mat-form-field class="w-100 " appearance="outline">
          <mat-label>Details</mat-label>
          <input matInput placeholder="Enter" formControlName="Detailsname">
        </mat-form-field>
      </div>
    </div>


    <div class="pull-right">
      <button mat-flat-button color="" (click)="submit()" class="custome-button mr-2  mat-primary vissub schedbtn">Submit</button>
      <button type="button" mat-stroked-button class="transperent-button mr-2 schedbtn"
              (click)="clear()" color="primary">
        Clear
      </button>
    </div>
  </form>
</div>

