<div cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <h5 cdkDragHandle class="p-3 title-bg">{{showName}} Recorded During<button style="color: white" class="close" (click)="dialogClose()" aria-label="Close">
      <span aria-hidden="true">X</span></button>
  </h5>

  <div class="overflow-hidden px-3 pb-2">
    <form [formGroup]="addRecordedDuringForm">
      <div class="row">

        <div class="col-sm-12 mt-3">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label><span class="required-asterisk" *ngIf="(addRecordedDuringForm.value.RecordedDuringCode == '' || addRecordedDuringForm.value.RecordedDuringCode == null) ? true : false">
            </span>Recorded During Code</mat-label>
            <input matInput [readonly]="isReadOnly" placeholder="Enter" maxlength="10" formControlName="RecordedDuringCode" />
          </mat-form-field>
        </div>

        <div class="col-sm-12 mt-3">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label><span class="required-asterisk" *ngIf="(addRecordedDuringForm.value.RecordedDuringDescription == '' || addRecordedDuringForm.value.RecordedDuringDescription == null) ? true : false">
            </span>Recorded During Description</mat-label>
            <input matInput placeholder="Enter" formControlName="RecordedDuringDescription" />
          </mat-form-field>
        </div>

        <div class="col-sm-12 mt-3">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label><span class="required-asterisk" *ngIf="(addRecordedDuringForm.value.RecordedDuringOrder == '' || addRecordedDuringForm.value.RecordedDuringOrder == null) ? true : false">
            </span>Order No</mat-label>
            <input numeric matInput placeholder="Enter" formControlName="RecordedDuringOrder" />
          </mat-form-field>
        </div>

      </div>
      <div>
        <div class="text-right justify-content-end">
          <button mat-flat-button class="custome-button mat-primary mr-2" (click)="addEditRecordedDuring()">Save</button>
          <button mat-stroked-button class="transperent-button" color="primary" type="button" (click)="clearForm()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>