<div cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <form [formGroup]="functionalForm">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12  dark-color padding-none">
        <div class="row">
          <div class="col-12">
            <h5 cdkDragHandle class="p-3 title-bg">
              Function & Cognitive<button style="color:white" class="close" (click)="dialogClose()" aria-label="Close">
                <span aria-hidden="true">X</span>
              </button>
            </h5>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12  dark-color padding-none">
                <div class="row">
                  <div class="col-12">
                    <mat-card class="px-4 py-2">
                      <h5 class="py-1">Visit Details</h5>
                      <div class="row">
                        <div class="col-xl-3 col-lg-6 pb-3 pt-3">
                          <mat-form-field [matTooltip]="visitdate" matTooltipPosition="below"
                            matTooltipClass="Tooltip-sm" class="w-100" appearance="outline">
                            <mat-label><span class="required-asterisk"
                              *ngIf="(functionalForm.value.VisitDateandTime == null || functionalForm.value.VisitDateandTime == '') ? true : false"></span>Visit Date & Time</mat-label>
                            <!-- <input matInput formControlName="VisitDateandTime" readonly> -->
                            <mat-select formControlName="VisitDateandTime" [disabled]="StaticDisabled">
                              <mat-option *ngFor="let vDate of visitDandt , index as i" [value]="vDate"
                                (onSelectionChange)="RecordedDuring(i)">
                                {{vDate}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>

                        <div class="col-xl-2 col-lg-6 pb-3 pt-3">
                          <mat-form-field class="w-100" appearance="outline">
                            <mat-label><span class="required-asterisk"
                              *ngIf="(functionalForm.value.RecordedDate == null || functionalForm.value.RecordedDate == '') ? true : false"></span>Recorded Date</mat-label>
                            <input matInput [matDatepicker]="func" formControlName="RecordedDate" readonly>
                            <mat-datepicker-toggle matSuffix [for]="func"></mat-datepicker-toggle>
                            <mat-datepicker #func></mat-datepicker>
                          </mat-form-field>
                        </div>

                        <div class="col-lg-2 timepick pb-3 pt-3">
                          <mat-form-field class="input-full-width timer w-100" appearance="outline">
                            <input matInput [ngxTimepicker]="func1" [disableClick]="true" formControlName="RecordedTime"
                              readonly>
                            <mat-label><span class="required-asterisk"
                              *ngIf="(functionalForm.value.RecordedTime == null || functionalForm.value.RecordedTime == '') ? true : false"></span>Record Time</mat-label>
                            <ngx-material-timepicker-toggle [for]="func1">
                            </ngx-material-timepicker-toggle>
                            <ngx-material-timepicker #func1>
                            </ngx-material-timepicker>
                          </mat-form-field>
                        </div>

                        <div class="col-xl-2 col-lg-6 pb-3 pt-3">
                          <mat-form-field [matTooltip]="recordedDuring" matTooltipPosition="below"
                            matTooltipClass="Tooltip-sm" class="w-100" appearance="outline">
                            <mat-label><span class="required-asterisk"
                              *ngIf="(functionalForm.value.recordedDuring == null || functionalForm.value.recordedDuring == '') ? true : false"></span>Recorded During</mat-label>
                            <input matInput placeholder="Enter" [value]="recordedDuring"
                              formControlName="recordedDuring">
                          </mat-form-field>
                        </div>


                        <div class="col-xl-3 col-lg-6 pb-3 pt-3">
                          <mat-form-field class="w-100" appearance="outline">
                            <mat-label><span class="required-asterisk"
                              *ngIf="(functionalForm.value.RecordedBy == null || functionalForm.value.RecordedBy == '') ? true : false"></span>Recorded By</mat-label>
                            <mat-select formControlName="RecordedBy">
                              <mat-option *ngFor="let value of recordby" [value]="value">
                                {{value}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>

                        </div>
                      </div>
                    </mat-card>
                  </div>
                </div>
              </div>
            </div>
            <mat-card class="my-3">
              <input hidden formControlName="PatientID" />
              <input hidden formControlName="VisitID" />
              <input hidden formControlName="CognitiveID" />
              <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
                  <mat-form-field class=" w-100 " appearance="outline">
                    <mat-label>Gait</mat-label>
                    <mat-select formControlName="Gait">
                      <mat-option *ngFor="let value of Gaitvalue" [value]="value.GaitMasterID">{{value.GaitMasterDesc}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3 col-xl-6">
                  <mat-form-field class=" w-100 " appearance="outline">
                    <mat-label>Gait Notes</mat-label>
                    <textarea matInput placeholder="Enter" rows="1" cols="1" maxlength="500"
                      formControlName="GaitNotes"></textarea>
                  </mat-form-field>
                </div>

                <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
                  <mat-form-field class=" w-100 " appearance="outline">
                    <mat-label>Balance</mat-label>
                    <mat-select formControlName="Balance">
                      <mat-option *ngFor="let balance of balanceList" [value]="balance.FCBalanceDesc">
                        {{balance.FCBalanceDesc}}</mat-option>

                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Balance Notes</mat-label>
                    <input matInput placeholder="Enter" maxlength="75" formControlName="BalanceNotes" />
                  </mat-form-field>
                </div>

                <div class="col-lg-3">
                  <mat-form-field class=" w-100 " appearance="outline">
                    <mat-label>Neuromuscular Notes</mat-label>
                    <input matInput placeholder="Enter" maxlength="75" formControlName="NeuromuscularNotes">
                  </mat-form-field>
                </div>

                <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
                  <mat-form-field class=" w-100 " appearance="outline">
                    <mat-label>Mobility</mat-label>
                    <mat-select formControlName="Mobility">
                      <mat-option *ngFor="let mobility of mobilitieslist" [value]="mobility.FCMobilityDesc">
                        {{mobility.FCMobilityDesc}}</mat-option>

                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-lg-3">
                  <mat-form-field class=" w-100 " appearance="outline">
                    <mat-label>Mobility Support Device</mat-label>
                    <input matInput placeholder="Enter" maxlength="75" formControlName="MobilitySupportDevice">
                  </mat-form-field>
                </div>

                <div class="col-lg-3">
                  <mat-form-field class=" w-100 " appearance="outline">
                    <mat-label>Mobility Notes</mat-label>
                    <input matInput placeholder="Enter" formControlName="MobilityNotes">
                  </mat-form-field>
                </div>

                <div class="col-lg-3">
                  <mat-form-field class=" w-100 " appearance="outline">
                    <mat-label>Functional Status</mat-label>
                    <input matInput placeholder="Enter" maxlength="75" formControlName="Functionalstatus">
                  </mat-form-field>
                </div>

                <div class="col-lg-3">
                  <mat-form-field class=" w-100 " appearance="outline">
                    <mat-label>Cognitive Status</mat-label>
                    <input matInput placeholder="Enter" maxlength="75" formControlName="Cognitivestatus">
                  </mat-form-field>
                </div>

                <div class="col-lg-3">
                  <mat-form-field class=" w-100 " appearance="outline">
                    <mat-label>Primary Diagnosis Notes</mat-label>
                    <input matInput placeholder="Enter" maxlength="75" formControlName="PrimaryDiagnosisNotes">
                  </mat-form-field>
                </div>

                <div class="col-lg-6">
                  <mat-form-field [matTooltip]="icdtooltip" matTooltipPosition="above" matTooltipClass="Tooltip-lg"
                    class=" w-100 " appearance="outline">
                    <mat-label>ICD Code</mat-label>
                    <mat-icon matSuffix
                      *ngIf="(functionalForm.value.ICD10 == '' || functionalForm.value.ICD10 == null) ? true : functionalForm.value.ICD10.length > 2 ? false : true">
                      search</mat-icon>
                    <textarea matInput [matAutocomplete]="ICDCodeDesc" maxlength="500" placeholder="Type and Select"
                      formControlName="ICD10" #autoCompleteICDCodeFunction="matAutocompleteTrigger" rows="1"></textarea>
                    <mat-autocomplete autoActiveFirstOption #ICDCodeDesc="matAutocomplete">
                      <mat-option *ngFor="let ICD10 of icd"
                        (onSelectionChange)="setIcdCode(ICD10.ICDCode, ICD10.Description)"
                        [value]="ICD10.ICDCode + '-' + ICD10.Description">{{ICD10.ICDCode }}-{{ICD10.Description}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>

                <div class="col-lg-3">
                  <mat-form-field class=" w-100 " appearance="outline">
                    <mat-label>Primary Procedure</mat-label>
                    <input matInput placeholder="Enter" maxlength="75" formControlName="PrimaryProcedure">
                  </mat-form-field>
                </div>

                <div class="col-lg-6">
                  <mat-form-field [matTooltip]="cpttooltip" matTooltipPosition="above" matTooltipClass="Tooltip-lg"
                    class=" w-100 " appearance="outline">
                    <mat-label>CPT Code</mat-label>
                    <mat-icon matSuffix
                      *ngIf="(functionalForm.value.CPT == '' || functionalForm.value.CPT == null) ? true : functionalForm.value.CPT.length > 2 ? false : true">
                      search</mat-icon>
                    <textarea matInput placeholder="Type and Select" maxlength="500" [matAutocomplete]="SNOMED"
                      formControlName="CPT" rows="1" #autoCompleteCPTCodeFunction="matAutocompleteTrigger"></textarea>
                    <mat-autocomplete autoActiveFirstOption #SNOMED="matAutocomplete">
                      <mat-option *ngFor="let CPTCODE of cpt"
                        (onSelectionChange)="setcptCode(CPTCODE.CPTCode, CPTCODE.Description)"
                        [value]="CPTCODE.Description + '-' + CPTCODE.CPTCode">
                        {{CPTCODE.CPTCode}}-{{CPTCODE.Description}}</mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>

                <div class="col-lg-3">
                  <mat-form-field class=" w-100 " appearance="outline">
                    <mat-label>Physician Name</mat-label>
                    <input matInput placeholder="Enter" maxlength="75" formControlName="Physicianname">
                  </mat-form-field>
                </div>

                <div class="col-lg-3">
                  <mat-form-field class=" w-100 " appearance="outline">
                    <mat-label>Hospital Name</mat-label>
                    <input matInput placeholder="Enter" maxlength="75" formControlName="Hospital">
                  </mat-form-field>
                </div>
              </div>
              <div class="d-flex align-items-lg-center  justify-content-lg-end justify-content-center pt-4">
                <div>
                  <button mat-flat-button color="" class="custome-button mat-primary mr-2"
                    (click)="addUpdateFunctionForm()">Save</button>
                  <button mat-stroked-button class="transperent-button" color="primary" (click)="Clear()">Clear</button>
                </div>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>