<div cdkDrag cdkDragRootElement=".cdk-overlay-pane">
    <h5 cdkDragHandle class="p-3 title-bg">{{showName}} Role<button style="color: white" class="close" (click)="dialogClose()" aria-label="Close">
            <span aria-hidden="true">X</span></button>
    </h5>

    <div class="overflow-hidden px-3 pb-2">
        <form [formGroup]="addRolesForm">
            <div class="row">

                <div class="col-sm-12 mt-3">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label><span class="required-asterisk" *ngIf="(addRolesForm.value.RoleName == '' || addRolesForm.value.RoleName == null) ? true : false">
                        </span>Role Name</mat-label>
                        <input matInput [readonly]="isReadOnly" placeholder="Enter" formControlName="RoleName" />
                    </mat-form-field>
                </div>

                <div class="col-sm-12 mt-3">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label><span class="required-asterisk" *ngIf="(addRolesForm.value.RoleDescription == '' || addRolesForm.value.RoleDescription == null) ? true : false">
                        </span>Role Description</mat-label>
                        <input matInput placeholder="Enter" formControlName="RoleDescription" />
                    </mat-form-field>
                </div>

                <div class="col-sm-12 mt-3">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label><span class="required-asterisk" *ngIf="(addRolesForm.value.OrderNo == '' || addRolesForm.value.OrderNo == null) ? true : false">
                        </span>Order No</mat-label>
                        <input numeric matInput placeholder="Enter" formControlName="OrderNo" />
                    </mat-form-field>
                </div>
            </div>

            <div>
                <div class="text-right justify-content-end">
                    <button mat-flat-button class="custome-button mat-primary mr-2" (click)="addEditRoles()">Save</button>
                    <button mat-stroked-button class="transperent-button" color="primary" type="button" (click)="clearForm()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>