.WholeCard {
  flex-wrap: wrap;
  flex-direction: row;
  display: inline-block;
  margin: 15px;
  height: 200px;
  width: 485px;
  border-radius: 15px;
  border: 1px solid #89898987;
  transition: all 1s cubic-bezier(.25, .8, .25, 1);
}

.WholeCard:hover {
  box-shadow: rgb(17 17 26 / 10%) 0px 8px 24px, rgb(17 17 26 / 0%) 0px 16px 56px, rgb(17 17 26 / 10%) 0px 24px 80px;

}

.cardTotal {
  width: 350px;
}


/* ------Head-content------ */

.header {
  display: flex;
  flex-wrap: wrap;
  /* gap: 10px 20px; */
  width: 450px;
}

.wrapperHeader {
  max-height: 55px;
  overflow: auto;
}

.headerbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px 20px;
  padding: 2px;
  align-items: center;
}

.HeaderPadding {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.disImgNone {
  position: inherit;
  z-index: 10;
  margin-right: 3px;
}


.example-header-image {
  height: 50px;
  width: 50px;
}

/* -----Main-content----- */

.MainProperty {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 15px;
  padding: 2px;
  margin-top: 2px;
  /* height: 92px; */
  width: 450px;
}


.MainPropertyPadding {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-basis: 130px;
}


/* -----footer-content----- */

.footer {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 9px 9px;
  /* padding-right: 5px; */
  overflow: auto;
  height: 30px;
  width: 445px;
}



/* -----font----- */

.boldProperty {
  color: #43484f;
  font-weight: 700;
  font-size: 13px;
}

.Propertyfont {
  color: #43484f;
  font-weight: 400;
  font-size: 13px;
}

/* -----wrapper----- */

.wrapper {
  max-height: 92px;
  overflow: auto;
}

.IconsizingPx {
  font-size: 25px;
}

.footerIcons {
  cursor: pointer;
}


/* -----Fontstatus---- */

.StatusFontAlert {
  color: red;
  font-weight: 500;
}

.StatusFontokAlert {
  color: #18a43a;
  font-weight: 500;
}

.StatusFontWaitAlert {
  color: #001fff;
  font-weight: 500;
}

.StatusAlert {
  color: red;
  font-weight: 600;
}

.StatusokAlert {
  color: #18a43a;
  font-weight: 600;
}

.StatusWaitAlert {
  color: #001fff;
  font-weight: 600;
}

.fa-check-circle:before {
  margin-right: 5px;
}

.fa-times-circle:before {
  margin-right: 5px;
}

.fa-clock-o:before {
  margin-right: 5px;
}

.fa-hourglass-half:before {
  margin-right: 5px;
}

.fa-hourglass-start:before {
  margin-right: 5px;
}

.fa-calendar:before {
  margin-right: 5px;
}

.fa-exclamation-circle:before {
  margin-right: 5px;
}

.fa-plus-circle:before {
  margin-right: 5px;
}

.spanning {
  position: absolute;
  border-radius: 15px !important;
  font-size: 14px !important;
  background: #ffffff !important;
  color: #222 !important;
  border: 2px solid #1fbdd0 !important;
  padding: 6px;
  margin-top: -37px;
}


/* ----- @media ------ */

@media (max-width: 770px) {
  .WholeCard {
    margin-left: 95px;
  }
}



@media (max-width: 560px) {
  .WholeCard {
    display: flex;
    height: auto;
    margin-bottom: 10px;
    width: auto;
    margin-left: 0px;
  }

  .wrapperHeader {
    max-height: 150px;
    overflow: auto;
    width: auto;
  }

  .headerbox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    padding: 2px;
    align-items: center;
  }

  .MainProperty {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    margin-left: 17px;
    height: auto;
    width: auto;
  }

  .wrapper {
    max-height: 240px;
    overflow: auto;
  }

  .MainPropertyPadding {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex: 1 1 125px;
  }

  .footer {
    margin-top: 8px;
    width: auto;
  }

  .headerInline {
    display: inline;
  }

}

@media (max-width: 475px) {

  .WholeCard {
    display: flex;
    height: auto;
    margin-bottom: 10px;
  }

  .header {
    display: flex;
    flex-wrap: wrap;
    width: auto;
  }


  .headerbox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    padding: 2px;
    align-items: center;
  }

  .MainProperty {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 10px;
    margin: 5px;
    height: auto;
    width: auto;
  }

  .wrapperHeader {
    max-height: 150px;
    overflow: auto;
  }

  .wrapper {
    max-height: 240px;
    /* max-height: 150px; */
    overflow: auto;
  }


  .MainPropertyPadding {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex: 1 1 125px;
  }

  .footer {
    margin-top: 8px;
    width: auto;
  }

  .headerInline {
    display: inline;
  }

}

@media (max-width: 415px) {

  .WholeCard {
    height: auto;
  }

  .MainProperty {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
  }

}

@media (max-width: 345px) {

  .WholeCard {
    height: auto;
    width: 240px;
  }

  .headerbox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .MainProperty {
    margin-top: 6px;
  }

  .example-header-image {
    height: 50px;
    width: 50px;
    margin-left: 70px;
  }

}