<div cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <form [formGroup]="form">

    <h5 cdkDragHandle class="p-3 title-bg">
     Physician Extra Activity <button style="color:white" class="close" (click)="dialogClose()" aria-label="Close">
        <span aria-hidden="true">X</span>
      </button>
    </h5>

    <div class="row pb-3 pt-3">
      <div class="col-xl-3 col-lg6">
        <mat-form-field class="w-100 " appearance="outline">
          <mat-label>
            <span class="required-asterisk"
                  *ngIf="(form.value.NatureOfActivity == '' || form.value.NatureOfActivity == null) ? true : false"></span>Nature of Activity
          </mat-label>
          <input matInput maxlength="100" placeholder="Enter" formControlName="NatureOfActivity">
        </mat-form-field>
      </div>
      <div class="col-xl-3 col-lg6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>
            <span class="required-asterisk"
                  *ngIf="(form.value.YearOfParticipation == '' || form.value.YearOfParticipation == null) ? true : false"></span>Year of Participation
          </mat-label>
          <input matInput placeholder="Year of Participation" formControlName="YearOfParticipation" numeric>
        </mat-form-field>
      </div>
      <div class="col-xl-3 col-lg6">
        <mat-form-field class="w-100 " appearance="outline">
          <mat-label>
            <span class="required-asterisk"
                  *ngIf="(form.value.PrizesorAwards == '' || form.value.PrizesorAwards == null) ? true : false"></span>Level of Participation/Prizes/Awards
          </mat-label>
          <input matInput maxlength="150" placeholder="Enter" formControlName="PrizesorAwards">
        </mat-form-field>
      </div>
      <div class="col-xl-3 col-lg6">
        <mat-form-field class="w-100 " appearance="outline">
          <mat-label>Your Personal Strengths And Area That Need Improvement</mat-label>
          <input matInput maxlength="200" placeholder="Enter" formControlName="StrengthandAreaneedImprovement">
        </mat-form-field>
      </div>
    </div>


    <div class="pull-right">
      <button mat-flat-button color="" (click)="submit()" class="custome-button mr-2  mat-primary vissub schedbtn">Submit</button>
      <button type="button" mat-stroked-button class="transperent-button mr-2 schedbtn"
              (click)="clear()" color="primary">
        Clear
      </button>
    </div>
  </form>
</div>

