<div class="bg-white upload-da" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12  dark-color padding-none">
      <h5 cdkDragHandle class="p-3 title-bg">
        <b>Add-Billing (Master)</b><button style="color:white" class="close" (click)="close()" aria-label="Close">
          <span aria-hidden="true">X</span>
        </button>
      </h5>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12  dark-color padding-none">

          <form [formGroup]="MasterBillingForm">

            <mat-card class="px-3 py-1 card">

              <div class="row">

                <div class="col-xl-3 col-lg-6 pb-3 pt-3">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label><span class="required-asterisk"
                        *ngIf="(MasterBillingForm.value.DepartmentID == '' || MasterBillingForm.value.DepartmentID == null) ? true : false"></span>
                      Department </mat-label>
                    <mat-icon matSuffix
                      *ngIf="(MasterBillingForm.value.DepartmentID == '' || MasterBillingForm.value.DepartmentID == null) ? true : MasterBillingForm.value.DepartmentID.length > 2 ? false : true">
                      search</mat-icon>
                    <input type="text" matInput [matAutocomplete]="AutoDepartment" formControlName="DepartmentID"
                      placeholder="Type and Select"  #autoCompleteDepartment="matAutocompleteTrigger" >
                    <mat-autocomplete autoActiveFirstOption #AutoDepartment="matAutocomplete">
                      <mat-option *ngFor="let option of DepartmentInfo" [value]="option.DepartmentDesc"
                        (onSelectionChange)="DepartmentId(option.DepartmentID)" >
                        {{option.DepartmentDesc}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>

                <div class="col-xl-3 col-lg-6  pb-3 pt-3">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>
                      <span class="required-asterisk"
                        *ngIf="(MasterBillingForm.value.MasterBillingType == '' || MasterBillingForm.value.MasterBillingType == null) ? true : false"></span>
                      Billing Type ID
                    </mat-label>
                    <input matInput placeholder="Enter" formControlName="MasterBillingType">
                  </mat-form-field>
                </div>

                <div class="col-xl-3 col-lg-6  pb-3 pt-3">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>
                      <span class="required-asterisk"
                        *ngIf="(MasterBillingForm.value.BillingTypeDesc == '' || MasterBillingForm.value.BillingTypeDesc == null) ? true : false"></span>
                      Description</mat-label>
                    <input matInput placeholder="Enter Description" formControlName="BillingTypeDesc">
                  </mat-form-field>
                </div>


                <div class="col-xl-3 col-lg-6  pb-3 pt-3">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>
                      <span class="required-asterisk"
                        *ngIf="(MasterBillingForm.value.OrderNo == '' || MasterBillingForm.value.OrderNo == null) ? true : false"></span>
                      Order Number
                    </mat-label>
                    <input matInput placeholder="Enter OrderNumber" formControlName="OrderNo">
                  </mat-form-field>
                </div>

                <div class="col-xl-3 col-lg-6  pb-3 pt-3">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>
                      <span class="required-asterisk"
                        *ngIf="(MasterBillingForm.value.Status == '' || MasterBillingForm.value.Status == null) ? true : false"></span>
                      Status
                    </mat-label>
                    <mat-select formControlName="Status">
                      <mat-option *ngFor="let Sts of StatusData" [value]="Sts.BillingMasterStatusDescription">
                        {{Sts.BillingMasterStatusDescription}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-xl-3 col-lg-6 pb-3 pt-3">
                  <section class="example-section">
                    <mat-checkbox class="example-margin" (change)="AllowSubMaster()" formControlName="AllowSubMaster">
                      Allow SubMaster Type</mat-checkbox>
                  </section>

                </div>

                <div class="col-xl-3 col-lg-6 pb-3 pt-3"></div>

                <div class="col-xl-12 col-lg-6 text-right pb-3 pt-3">
                  <button mat-flat-button color="primary" class="custome-button mat-primary mr-2"
                    (click)="submitData()">Save</button>
                  <button mat-stroked-button class="transperent-button" color="primary"  type="button" (click)="Clear()">Clear</button>
                </div>

              </div>
            </mat-card>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>