:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.margin-left {
  margin-left: 300px;
}

/* mat-drawer-container  {
  min-height: calc( 100vh - 64px );
} 
*/
.logo{
  height: 50px;
  width: 95%;
}

.iconlogo{
  height: 50px;
}

.side-pages-content{
  min-height: 100vh;
  margin: 0%;
  margin-bottom: 100px;
  width: 100%;
  padding: 15px;
} 

.exampleClass3{
  width: 80px;
  height:35px;
}

.sidenavfullOpencls {
  width: 255px !important;
  height:35px;
}

.showicononlycls{
  width: 85px;
  height:35px;
}

::ng-deep .mat-drawer-inner-container{
  overflow: hidden !important;
}


/* ::ng-deep .mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
}
*/

