<div>
<app-patient-history></app-patient-history>
<div class="overflow-hidden px-4">
  <div class="text-right w-100 my-2">
    <button class="custome-button mat-primary btn btn-info" style="height:32px;width:140px" (click)="openAddUpdateform()">Add Patient Care Plan</button>
  </div>
  <div>
    <mat-card class="table-wrapper w-100 row">
      <h4>Patient Care Plan</h4>
      <div>
        <div>
          <mat-card-content>
            <div class="row">
              <app-bms-table [config]="tableConfig" [datas]="Visitdata" (viewItem)="openVisitViewRecord($event)" (editItem)="openPatientEditRecord($event)"  (deleteItem)="deleteCarePlanPatient($event)" (bindItem)="setplanningactivity($event)"></app-bms-table>
            </div>
          </mat-card-content>
        </div>
      </div>
    </mat-card>
  </div>
</div>
<app-patientBackbutton></app-patientBackbutton>
</div>
