@import '../node_modules/@angular/material/_theming.scss';
//@import "~@angular/material/theming";
//@include mat-core();

$md-periblue: (
    50 : #e0e9f2,
    100 : #b3c8e0,
    200 : #80a4cb,
    300 : #4d7fb6,
    400 : #2663a6,
    500 : #004896,
    600 : #00418e,
    700 : #003883,
    800 : #003079,
    900 : #002168,
    A100 : #97afff,
    A200 : #6487ff,
    A400 : #3160ff,
    A700 : #184cff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-perired: (
    50 : #f8e2ec,
    100 : #eeb8d0,
    200 : #e288b1,
    300 : #d65891,
    400 : #ce357a,
    500 : #c51162,
    600 : #bf0f5a,
    700 : #b80c50,
    800 : #b00a46,
    900 : #a30534,
    A100 : #ffcfda,
    A200 : #ff9cb3,
    A400 : #ff698c,
    A700 : #ff4f79,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$md-peripink: (
    50 : #f9e7ef,
    100 : #f0c2d7,
    200 : #e79abd,
    300 : #dd72a2,
    400 : #d5538e,
    500 : #ce357a,
    600 : #c93072,
    700 : #c22867,
    800 : #bc225d,
    900 : #b0164a,
    A100 : #ffe3eb,
    A200 : #ffb0c8,
    A400 : #ff7da4,
    A700 : #ff6393,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$md-metalblue: (
    50 : #e5f0f2,
    100 : #bed8df,
    200 : #93bfca,
    300 : #68a5b4,
    400 : #4791a4,
    500 : #277e94,
    600 : #23768c,
    700 : #1d6b81,
    800 : #176177,
    900 : #0e4e65,
    A100 : #99e2ff,
    A200 : #66d3ff,
    A400 : #33c4ff,
    A700 : #1abdff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-metalgrey: (
    50 : #eaedf1,
    100 : #cbd2db,
    200 : #a8b5c4,
    300 : #8597ac,
    400 : #6b809a,
    500 : #516a88,
    600 : #4a6280,
    700 : #405775,
    800 : #374d6b,
    900 : #273c58,
    A100 : #9fc6ff,
    A200 : #6ca7ff,
    A400 : #3989ff,
    A700 : #1f7aff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);




$general-typography: mat-typography-config(
  $body-2:        mat-typography-level(14px, 24px, 600),
  $input: mat-typography-level(16px, 24px, 500)
);

$secondary-typography: mat-typography-config(
);

$custom-typography: mat-typography-config(
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500),
  $input: mat-typography-level(16px, 1.125, 500)
);

// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($custom-typography);
// Be sure that you only ever include this mixin once!
@include mat-core($custom-typography);


$my-app-primary: mat-palette($md-metalblue, 500);
$my-app-accent:  mat-palette($md-metalgrey, 500);
//$my-app-warn:    mat-palette($mat-deep-orange);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);

@include angular-material-theme($my-app-theme);


@mixin my-custom-component-theme($theme)
{
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
.mat-primary-text
{
    color:  mat-color($primary,500);

}
.mat-primary-bg{
    background-color:  mat-color($primary,500);
}
.mat-primary-dark-bg
{
    background-color:  mat-color($primary,900);
}
.mat-accent-text
{
    color:  mat-color($accent,500);

}
.tableHeader, .mat-accent-bg, .table.hover > .tableRow:hover
{
    background-color: mat-color($accent,500);
}

.mat-primary-border
{
    border-color:  mat-color($primary,500) !important;
}

.mat-accent-border
{
    border-color:  mat-color($accent,500) !important;
}

.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
    -webkit-transform: translateY(-1.28125em) scale(0.85) perspective(100px) translateZ(1px);
    transform: translateY(-1.28125em) scale(0.85) perspective(100px) translateZ(0.001px);
    -ms-transform: translateY(-1.28125em) scale(0.85);
    color: mat-color($primary,500);
}
.mb-info
{
    background-color: mat-color($primary,500) !important;
}
.mb-danger {
    background-color: mat-color($warn,500) !important;
}

.timepicker__header
{
    background-color:  mat-color($primary,500) !important ;
}
.timepicker-button
{
    color:  mat-color($primary,500) !important;
}

.clock-face__number > span.active
{
    background-color:  mat-color($accent,500) !important ;
}
.clock-face__clock-hand:after
{
    background-color:  mat-color($accent,500) !important ;
}
    .breadcrumb-item
    {
        background-color:  mat-color($primary,500) !important ;
    }
    .breadcrumb-item:hover
    {
        background-color:  mat-color($primary,400) !important ;
    }
    .breadcrumb-item:hover a::after
    {
        border-color: transparent transparent transparent mat-color($primary,400);
    }
    .breadcrumb-item::after
    {
        border-color: transparent transparent transparent mat-color($primary,900);
    }
    .breadcrumb-item a::after
    {
        border-color: transparent transparent transparent mat-color($primary,500);
    }

    .breadcrumb-item.active
    {
    background-color:  mat-color($accent,500) !important ;
    }
    .breadcrumb-item.active::after
    {
        border-color: transparent transparent transparent mat-color($accent,500);
    }
    // .filter-container
    // {
    //     border: 1px mat-color($accent,500) solid;
    // }
    .dx-scrollable-scroll-content
    {
        background-color: mat-color($accent,500) !important;
    }

    .drag-item
    {
        background-color: mat-color($primary,500) !important;
    }

    .risk-popup .mat-dialog-title
    {
        background-color:  mat-color($primary,500)!important;
    }
    .dragDropWrapper {
        border: 1px solid mat-color($primary,500)!important;
    }

    .dragDropcontainer {
        border: 1px solid mat-color($primary,500)!important;
    }
    .dragDropWrapper .dragDropItem {
        background-color: mat-color($primary,500)!important;
    }

    .custom-tip .tooltip-inner {
        background-color:  mat-color($accent,500) !important;
        font-size: 16px;
        min-width: 75px !important;
      }
      .custom-tip.bs-tooltip-bottom .arrow::before {
        border-bottom-color: mat-color($accent,500) !important;
      }
      .custom-tip.bs-tooltip-top .arrow::before {
      border-top-color: mat-color($accent,500) !important;
      }
      .custom-tip.bs-tooltip-left .arrow::before {
        border-left-color: mat-color($accent,500) !important;
      }
      .custom-tip.bs-tooltip-right .arrow::before {
        border-right-color: mat-color($accent,500) !important;
      }

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    box-shadow: inset 0 0 2px rgba(0,0,0,.3);
    background-color: mat-color($primary,500)
}
}

@include my-custom-component-theme($my-app-theme);

