<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" >
  <h5 cdkDragHandle class="p-3 title-bg">
    Immunization Edit<button
      style="color: white"
      class="close"
      (click)="dialogClose()"
      aria-label="Close"
    >
      <span aria-hidden="true">X</span>
    </button>
  </h5>
  <form [formGroup]="ImmunizationForm">
    <mat-card class="px-3 py-1 card">
      <div class="row">
        <div class="col-xl-3 col-lg-6 pb- pt-3">
          <mat-form-field  class="w-100" appearance="outline">
            <mat-label><span class="required-asterisk"
              *ngIf="(ImmunizationForm.value.visitDateandTime == null || ImmunizationForm.value.visitDateandTime == '') ? true : false"></span>Visit Date & Time</mat-label>
            <mat-select formControlName="visitDateandTime">
              <mat-option
                *ngFor="let date of tempArr; index as i"
                [value]="date"
                (onSelectionChange)="RecordedDuring(i)">
                {{ date }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-xl-2 col-lg-6 pb-3 pt-3">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label><span class="required-asterisk"
              *ngIf="(ImmunizationForm.value.RecordedDate == null || ImmunizationForm.value.RecordedDate == '') ? true : false"></span>Recorded Date</mat-label>
            <input
              matInput
              [matDatepicker]="picker5"
              formControlName="RecordedDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker5"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker5></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-lg-2 timepick pb-3 pt-3">
          <mat-form-field
            class="input-full-width timer w-100"
            appearance="outline"
          >
            <input
              matInput
              [ngxTimepicker]="toggleTimepicker1"
              [disableClick]="true"
              
              formControlName="RecordedTime"
            />
            <mat-label><span class="required-asterisk"
              *ngIf="(ImmunizationForm.value.RecordedTime == null || ImmunizationForm.value.RecordedTime == '') ? true : false"></span>Recorded Time</mat-label>
            <ngx-material-timepicker-toggle [for]="toggleTimepicker1">
            </ngx-material-timepicker-toggle>
            <ngx-material-timepicker #toggleTimepicker1>
            </ngx-material-timepicker>
          </mat-form-field>
        </div>
        <div class="col-xl-2 col-lg-6 pb-3 pt-3">
          <mat-form-field  class="w-100" appearance="outline">
            <mat-label><span class="required-asterisk"
              *ngIf="(ImmunizationForm.value.recordedDuring == null || ImmunizationForm.value.recordedDuring == '') ? true : false"></span>Recorded During</mat-label>
            <input 
              matInput
              placeholder="Enter"
              [value]="recordedDuring"
              formControlName="recordedDuring"
            />
          </mat-form-field>
        </div>
        <div class="col-xl-3 col-lg-6 pb-3 pt-3">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label><span class="required-asterisk"
              *ngIf="(ImmunizationForm.value.RecordedBy == null || ImmunizationForm.value.RecordedBy == '') ? true : false"></span>Recorded By</mat-label>
            <mat-select formControlName="RecordedBy">
              <mat-option
                *ngFor="let Recorded of RecordedBy"
                [value]="Recorded"
              >
                {{ Recorded }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card>
    <mat-card class="px-3 py-3 mt-4">
      <div class="row">
        <div class="col-xl-3 col-lg-6 pb-3 pt-3">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label><span class="required-asterisk"
              *ngIf="(ImmunizationForm.value.ImmunizationDate == null || ImmunizationForm.value.ImmunizationDate == '') ? true : false"></span>Immunization Date</mat-label>
            <input
              matInput
              [matDatepicker]="picker1"
              formControlName="ImmunizationDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker1"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-xl-3 col-lg-6 timepick pb-3 pt-3">
          <mat-form-field
            class="input-full-width timer w-100"
            appearance="outline"
          >
            <input
              matInput
              [ngxTimepicker]="toggleTimepicker2"
              [disableClick]="true"
             
              formControlName="ImmunizationTime"
            />
            <mat-label><span class="required-asterisk"
              *ngIf="(ImmunizationForm.value.ImmunizationTime == null || ImmunizationForm.value.ImmunizationTime == '') ? true : false"></span>Immunization Time</mat-label>
            <ngx-material-timepicker-toggle [for]="toggleTimepicker2">
            </ngx-material-timepicker-toggle>
            <ngx-material-timepicker #toggleTimepicker2>
            </ngx-material-timepicker>
          </mat-form-field>
        </div>
        <div class="col-xl-3 col-lg-6 pb-3 pt-3">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label><span class="required-asterisk"
              *ngIf="(ImmunizationForm.value.InjectingPhysician == null || ImmunizationForm.value.InjectingPhysician == '') ? true : false"></span>Injecting Physician</mat-label>
            <input maxlength="50"
              matInput
              placeholder="Enter Injecting Physician"
              formControlName="InjectingPhysician"
            />
          </mat-form-field>
        </div>
        <div class="col-xl-3 col-lg-6 pb-3 pt-3">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label><span class="required-asterisk"
              *ngIf="(ImmunizationForm.value.VaccineName == null || ImmunizationForm.value.VaccineName == '') ? true : false"></span>Vaccine Name</mat-label>
            <input
              matInput
              placeholder="Enter Vaccine Name"
              formControlName="VaccineName"
            />
          </mat-form-field>
        </div>
        <div class="col-xl-3 col-lg-6 pb-3 pt-3">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Product Name</mat-label>
            <input maxlength="50"
              matInput
              placeholder="Enter Product Name"
              formControlName="ProductName"
            />
          </mat-form-field>
        </div>
        <div class="col-xl-3 col-lg-6 pb-3 pt-3">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Manufacturer</mat-label>
            <input maxlength="50"
              matInput
              placeholder="Enter Manufacturer"
              formControlName="Manufacturer"
            />
          </mat-form-field>
        </div>
        <div class="col-xl-3 col-lg-6 pb-3 pt-3">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Batch No</mat-label>
            <input maxlength="15"
              matInput
              placeholder="Enter Batch No"
              formControlName="BatchNo"
            />
          </mat-form-field>
        </div>
        <div class="col-xl-3 col-lg-6 pb-3 pt-3">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label><span class="required-asterisk"
              *ngIf="(ImmunizationForm.value.Route == null || ImmunizationForm.value.Route == '') ? true : false"></span>Route</mat-label>
            <mat-select formControlName="Route">
              <mat-option maxlength="50"
                *ngFor="let typ of RouteIdvalue"
                [value]="typ.RouteDescription"
                >{{ typ.RouteDescription }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-xl-3 col-lg-6 pb-3 pt-3">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label><span class="required-asterisk"
              *ngIf="(ImmunizationForm.value.BodySite == null || ImmunizationForm.value.BodySite == '') ? true : false"></span>Body Site</mat-label>
            <mat-select formControlName="BodySite">
              <mat-option maxlength="50"
                *ngFor="let typ of BodySitevalue"
                [value]="typ.BodySiteDesc"
                >{{ typ.BodySiteDesc }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-xl-3 col-lg-6 pb-3 pt-3">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Dose Units</mat-label>
            <input maxlength="10"
              matInput
              placeholder="Enter Dose Units"
              formControlName="DoseUnits"
            />
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 pb-3 pt-3">
          <mat-form-field [matTooltip]="ImmunizationForm.get('FacilityName').value" matTooltipPosition="above"  matTooltipClass ="Tooltip-lg" class="w-100" appearance="outline">
            <mat-label><span class="required-asterisk"
              *ngIf="(ImmunizationForm.value.FacilityName == null || ImmunizationForm.value.FacilityName == '') ? true : false"></span>Facility Name</mat-label>
            <input maxlength="50"
              matInput
              placeholder="Enter Facility Name"
              formControlName="FacilityName"
            />
          </mat-form-field>
        </div>
        <div class="col-xl-3 col-lg-6 pb-3 pt-3">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label><span class="required-asterisk"
              *ngIf="(ImmunizationForm.value.PatientAge == null || ImmunizationForm.value.PatientAge == '') ? true : false"></span>Patient Age</mat-label>
            <input maxlength="3"
              matInput
              placeholder="Enter Patient Age"
              formControlName="PatientAge"
              numeric
            />
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 pb-3 pt-3">
          <mat-form-field  [matTooltip]="ImmunizationForm.get('Notes').value" matTooltipPosition="above"  matTooltipClass ="Tooltip-lg"
            class="example-full-width column- 70 w-100"
            appearance="outline"
          >
            <mat-label>Notes</mat-label>
            <textarea maxlength="500"
              matInput
              placeholder="Enter Notes"
              formControlName="Notes"
            ></textarea>
          </mat-form-field>
        </div>
      </div>
    </mat-card>
    <div class="mt-4 text-right">
      <button
        mat-flat-button
        color="primary"
        class="custome-button mat-primary mr-2"
        (click)="updateImmunization()"
      >
        Save
      </button>
      <button
        type="button"
        mat-stroked-button
        class="transperent-button"
        color="primary"
        (click)="close()"
      >
        Clear
      </button>
    </div>
  </form>
</div>
