<div class="bg-white upload-da" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12  dark-color padding-none">

      <h5 cdkDragHandle class="p-3 title-bg">
        Billing Test(Master) <button style="color: white" class="close" (click)="dialogClose()" aria-label="Close">
          <span aria-hidden="true">X</span>
        </button>
      </h5>
      <form [formGroup]="MasterBillingEditForm">
        <mat-card class="px-3 py-1 card">
          <div class="row">

            <div class="col-xl-3 col-lg-6 pb-3 pt-3">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label><span class="required-asterisk"
                  *ngIf="(MasterBillingEditForm.value.DepartmentID == '' || MasterBillingEditForm.value.DepartmentID == null) ? true : false"></span>
                Department </mat-label>
              <mat-icon matSuffix
                *ngIf="(MasterBillingEditForm.value.DepartmentID == '' || MasterBillingEditForm.value.DepartmentID == null) ? true : MasterBillingEditForm.value.DepartmentID.length > 2 ? false : true">
                search</mat-icon>
                <input type="text" matInput [matAutocomplete]="autoicd" formControlName="DepartmentID" readonly
                  placeholder="Type and Select">
                <mat-autocomplete autoActiveFirstOption #autoicd="matAutocomplete">
                  <mat-option *ngFor="let option of DepartmentInfo" [value]="option.DepartmentName"
                    (onSelectionChange)="DepartmentId(option.DepartmentID)">
                    {{option.DepartmentName}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>

            <div class="col-xl-3 col-lg-6  pb-3 pt-3">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label> <span class="required-asterisk"
                  *ngIf="(MasterBillingEditForm.value.MasterBillingType == '' || MasterBillingEditForm.value.MasterBillingType == null) ? true : false"></span>
                  Billing Type ID</mat-label>
                <input matInput placeholder="Enter OrderNumber" formControlName="MasterBillingType" readonly>
              </mat-form-field>
            </div>

            <div class="col-xl-3 col-lg-6  pb-3 pt-3">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label><span class="required-asterisk"
                  *ngIf="(MasterBillingEditForm.value.BillingTypeDesc == '' || MasterBillingEditForm.value.BillingTypeDesc == null) ? true : false"></span>Description</mat-label>
                <input matInput placeholder="Enter Description" formControlName="BillingTypeDesc">
              </mat-form-field>
            </div>

            <div class="col-xl-3 col-lg-6  pb-3 pt-3">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label> <span class="required-asterisk"
                  *ngIf="(MasterBillingEditForm.value.OrderNo == '' || MasterBillingEditForm.value.OrderNo == null) ? true : false"></span>Order Number</mat-label>
                <input matInput placeholder="Enter OrderNumber" formControlName="OrderNo">
              </mat-form-field>
            </div>

            <div class="col-xl-3 col-lg-6  pb-3 pt-3">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label><span class="required-asterisk"
                  *ngIf="(MasterBillingEditForm.value.Status == '' || MasterBillingEditForm.value.Status == null) ? true : false"></span>Status </mat-label>
                <mat-select formControlName="Status">
                  <mat-option *ngFor="let Sts of StatusData" [value]="Sts.BillingMasterStatusDescription">
                    {{Sts.BillingMasterStatusDescription}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-xl-3 col-lg-6 pb-3 pt-3">
              <section class="example-section">
                <mat-checkbox class="example-margin" formControlName="AllowSubMaster">Allow SubMaster Type
                </mat-checkbox>
              </section>
            </div>


            <div class="col-xl-3 col-lg-6 pb-3 pt-3"></div>
            
            <div class="col-xl-12 col-lg-6 text-right pb-3 pt-3">
              <button mat-flat-button color="primary" class="custome-button mat-primary mr-2"
                (click)="submitData()">Save</button>
              <button mat-stroked-button class="transperent-button" color="primary" type="button" (click)="Clear()">Clear</button>
            </div>
          </div>
        </mat-card>
      </form>
    </div>
  </div>
</div>