<div class="overflow-hidden px-4">
  <form [formGroup]="callCenterForm">
    <div class="row col-xl-12 ml-0 pl-0">
      <mat-card class="col-xl-4 ml-0 my-2">
        <div class="col-12">
          <div class="row justify-content-md-left" *ngIf="CallCenterCount">
            <div class="col-xl-12 text-center">
              <h3 class="text-left">Appointment Status</h3>
            </div>
            <div class="col-xl-5 p-2 m-2 text-center rounded dash-box-1">
              <p class="m-0">Total Appointments : <b>{{CallCenterCount.totalCount}}</b></p>
            </div>
            <div class="col-xl-5 p-2 m-2 text-center rounded dash-box-2">
              <p class="m-0">Confirmed : <b>{{CallCenterCount.ConfirmedCount}}</b></p>
            </div>
            <div class="col-xl-5 p-2 m-2 text-center rounded dash-box-3">
              <p class="m-0">Cancelled : <b>{{CallCenterCount.CancelledCount}}</b></p>
            </div>
            <div class="col-xl-5 p-2 m-2 text-center rounded dash-box-4">
              <p class="m-0">Rescheduled : <b>{{CallCenterCount.ReScheduledCount}}</b></p>
            </div>
            <!-- <div class="col-xl-5 p-2 m-2 text-center rounded dash-box-1">
              <p class="m-0">Waiting : <b>{{CallCenterCount.waitCount}}</b></p>
            </div> -->
          </div>
        </div>
      </mat-card>
      <div class="" style="margin:6px">
      </div>
      <mat-card class="row col-xl-8 ml-0 my-2">

        <div class="col-xl-12">

          <div class="col-xl-12 text-center">
            <h3 class="text-left">Search</h3>
          </div>

          <div class="row justify-content-between w-100 opdstop pt-2">


            <div class="col-xl-3">
              <mat-form-field class="w-100" appearance="outline">
                <input matInput [matDatepicker]="from" placeholder="From Date" formControlName="FromDate">
                <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
                <mat-datepicker #from></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="col-xl-3">
              <mat-form-field class="w-100" appearance="outline">
                <input matInput [matDatepicker]="to" placeholder="To Date" formControlName="ToDate">
                <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
                <mat-datepicker #to></mat-datepicker>
              </mat-form-field>
            </div>


            <div class="col-xl-3">
              <mat-form-field class=" w-100 " appearance="outline">
                <mat-label>Appointment Number</mat-label>
                <mat-icon matSuffix
                  *ngIf="(callCenterForm.value.AppointmentNumber == '' || callCenterForm.value.AppointmentNumber == null) ? true : callCenterForm.value.AppointmentNumber.length > 2 ? false : true">
                  search</mat-icon>
                <input maxlength="12" matInput placeholder="Type and Select" [matAutocomplete]="appointmentNumber" #autoCompleteAppointNumInput="matAutocompleteTrigger"
                  formControlName="AppointmentNumber">
                <mat-autocomplete autoActiveFirstOption #appointmentNumber="matAutocomplete">
                  <mat-option *ngFor="let number of AppointmentNumber" [value]="number">{{number}}</mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>

            
            <div class="col-xl-3">
              <mat-form-field class=" w-100 " appearance="outline">
                <mat-label>Facility</mat-label>
                <mat-select formControlName="Facility">
                  <mat-option *ngFor="let value of facilityData" [value]="value.FacilityId">
                    {{value.FacilityName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-xl-4">
              <mat-form-field class=" w-100 " appearance="outline">
                <mat-label>Doctor</mat-label>
                <mat-icon matSuffix
                *ngIf="(callCenterForm.value.DoctorName == '' || callCenterForm.value.DoctorName == null) ? true : callCenterForm.value.DoctorName.length > 2 ? false : true">
                search</mat-icon>
                <input maxlength="35" matInput placeholder="Type and Select" [matAutocomplete]="autoProvider" formControlName="DoctorName" #autoCompletePhysicianInput="matAutocompleteTrigger">
                <mat-autocomplete autoActiveFirstOption #autoProvider="matAutocomplete">
                  <mat-option *ngFor="let provider of doctorNameList" [value]="provider.ProviderName" (onSelectionChange)="setDoctorProviderID(provider.ProviderID)">{{provider.ProviderName}}</mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>


            <div class="col-xl-4">
              <mat-form-field class=" w-100 " appearance="outline">
                <mat-label>Patient</mat-label>
                <mat-icon matSuffix
                *ngIf="(callCenterForm.value.PatientName == '' || callCenterForm.value.PatientName == null) ? true : callCenterForm.value.PatientName.length > 2 ? false : true">
                search</mat-icon>
                <input maxlength="35" matInput placeholder="Type and Select" [matAutocomplete]="autoPatient" formControlName="PatientName"   #autoCompletePatientInput="matAutocompleteTrigger">
                <mat-autocomplete autoActiveFirstOption #autoPatient="matAutocomplete">
                  <mat-option *ngFor="let patList of patientNameList" [value]="patList.PatientFirstName+' '+patList.PatientMiddleName+' '+patList.PatientLastName" (onSelectionChange)="setPatientID(patList.PatientId)">{{patList.PatientFirstName}}&nbsp; {{patList.PatientMiddleName}}&nbsp; {{patList.PatientLastName}}&nbsp;- {{patList.MRNo}}</mat-option> 
                </mat-autocomplete>
              </mat-form-field>
            </div> 

            <div class="col-xl-4 mt-2">
              <div class="pull-right mr-2">
                <button mat-stroked-button color="" class="transperent-button light-sky primary w-auto" (click)="ClearCallCenter()">Clear</button>
              </div>
              <div class="pull-right">
                <button mat-flat-button color=""  [disabled]="DateChecker" class="custome-button mat-primary w-auto"(click)="searchCallCenter()">Search</button>
              </div>
            </div>

          </div>

        </div>
      </mat-card>
    </div>
   
    <div class="row mb-5">

      <div class="col-xs-12 px-3 w-100">
        <mat-card *ngIf="showResult">
          <h3>No Record Found</h3>
        </mat-card>
      </div>

      <!-- <div>
          <mat-card *ngIf="!showResult">
            <div class="mt-1">
              <mat-card-content>
                <div>
                  <app-bms-table [config]="tableConfig" [datas]="CallCenterDataCollection" (editItem)="openAppointmentCallCenterEdit($event)"></app-bms-table>
                </div>
              </mat-card-content>
            </div>
          </mat-card>
      </div>  -->

      </div>  
    
      <mat-card *ngIf="!showResult">
        <app-cardContainer [configCard]="CallcenterappListCard" [dataForContainer]="CallCenterDataCollection"
          (paymentItem)="paymentalert($event)" (editItem)="openAppointmentCallCenterEdit($event)"></app-cardContainer>
      </mat-card>
      
  </form>
</div>