/* Scroll bar */
.overflow {
  overflow: auto; 
  overflow-x: hidden; 
  height: 500px;
}

/* Radio Button */
:host ::ng-deep .validate .mat-radio-group.ng-invalid .mat-radio-outer-circle {
  border-color: #f73a2c;
}

:host ::ng-deep .validate .mat-radio-group.ng-invalid .mat-radio-label-content {
  color: #f44336;
}

/* Checkbox */
.invalid  {
  color: #f44336;
}

:host ::ng-deep .invalid .mat-checkbox-frame {
  border-color: #f73a2c;
}


