
<div class="white mt-4">
  <mat-card class="p-1">

    <h5 class="p-3 title-bg">SubMaster Billing</h5>



    <div class="row  pb-1">
      <div class="col font_color">Department </div>
      <div class="col-lg-1">:</div>
      <div class="col-lg-7">{{data.DepartmentName}}</div>
    </div>




    <div class="row  pb-2">
      <div class="col font_color">Description </div>
      <div class="col-lg-1">:</div>
      <div class="col-lg-7">{{data.SubMasterBillingTypeDesc}}</div>
    </div>

    <div class="row  pb-2">
      <div class="col font_color">Master Billing</div>
      <div class="col-lg-1">:</div>
      <div class="col-lg-7">{{data.MasterBillingTypeName}}</div>
    </div>






    <div class="row  pb-1">
      <div class="col font_color">Status</div>
      <div class="col-lg-1">:</div>
      <div class="col-lg-7">{{data.Status}}</div>
    </div>

    <div class="row  pb-1">
      <div class="col font_color">SubMaster Billing Type</div>
      <div class="col-lg-1">:</div>
      <div class="col-lg-7">{{data.SubMasterBillingType}}</div>
    </div>



    <div class="row  pb-1">
      <div class="col font_color">OrderNo</div>
      <div class="col-lg-1">:</div>
      <div class="col-lg-7">{{data.OrderNo}}</div>
    </div>




  </mat-card>

</div>



