<app-eLab-billing></app-eLab-billing>
<div class="overflow-hidden px-4 pb-4">

  <div class="row">
    <div class="col-xl-4"></div>
    <div class="col-xl-4"></div>
    <div class="col-xl-1  ml-1 mb-2">
      <button class="custome-button mat-primary btn btn-info" (click)="addElabBilling()">Add New</button>
    </div>
    <div class="col-xl-2 mb-2">
      <form [formGroup]="searchForm">
        <input type="search" placeholder="Search" matInput formControlName="search">
      </form>
    </div>

    <div class=" col-xl-12 table-responsive shroff-table">
      <mat-card class="table-wrapper">
        <h4 class="ml-3">Setup e-Lab</h4>
        <app-bms-table [config]="tableConfig" [datas]="gridData" (viewItem)="ViewELabsetupMaster($event)"
          (editItem)="EditRecord($event)"></app-bms-table>
      </mat-card>
    </div>

  </div>
</div>