<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" >
  <h5 cdkDragHandle class="p-3 title-bg">
    {{showvalue}} Illness Type    <button style="color: white" class="close" (click)="dialogClose()" aria-label="Close">
      <span aria-hidden="true">X</span>
    </button>
  </h5>
  <div class="overflow-hidden px-3 pb-2">
    <form [formGroup]="IllnessTypeForm">
      <div class="row">

        <div class="col-sm-12 mt-3">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label><span class="required-asterisk" *ngIf="(IllnessTypeForm.value.IllnessTypeCode == '' || IllnessTypeForm.value.IllnessTypeCode == null) ? true : false">
            </span>Illness Type Code</mat-label>
            <input matInput [readonly]="isReadOnly" maxlength="10"
                   placeholder="Enter"
                   formControlName="IllnessTypeCode" />
          </mat-form-field>
        </div>

        <div class="col-sm-12 mt-3">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label><span class="required-asterisk" *ngIf="(IllnessTypeForm.value.IllnessTypeDesc == '' || IllnessTypeForm.value.IllnessTypeDesc == null) ? true : false">
            </span>Illness Type Description </mat-label>
            <input matInput
                   placeholder="Enter"
                   formControlName="IllnessTypeDesc" />
          </mat-form-field>
        </div>

        <div class="col-sm-12 mt-3">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label><span class="required-asterisk" *ngIf="(IllnessTypeForm.value.OrderNo == '' || IllnessTypeForm.value.OrderNo == null) ? true : false">
            </span>Order No  </mat-label>
            <input numeric matInput
                   placeholder="Enter"
                   formControlName="OrderNo" />
          </mat-form-field>
        </div>

      </div>
      <div>
        <div class="text-right justify-content-end">
          <button mat-flat-button
                  color=""
                  class="custome-button mat-primary mr-2"
                  (click)="submitIllness()">
            Save
          </button>
          <button mat-stroked-button
                  class="transperent-button"
                  color="primary"
                  type="button"
                  (click)="cleartheForm()">
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
 
</div>
