<div class="white mt-0" cdkDrag cdkDragRootElement=".cdk-overlay-pane" >
  <div>
    <h5 cdkDragHandle class="p-3 title-bg">
      Patient Work History <button style="color:white" class="close" (click)="dialogClose()" aria-label="Close">
        <span aria-hidden="true">X</span>
      </button>
    </h5>

  </div>
  <form [formGroup]="PatientWorkHistoryViewForm">
    <mat-card class=" px-3 py-1 my-2">
      <div class="row w-100">

        <div class="col-xl-3 col-lg-6 pt-2">
          <mat-form-field  class="w-100" appearance="outline">
            <mat-label>Visit Date & Time</mat-label>
            <input matInput placeholder="Enter" formControlName="visitDateandTime">
          </mat-form-field>
        </div>

        <div class="col-xl-2 col-lg-6 pt-2">
          <mat-form-field  class="w-100" appearance="outline">
            <mat-label>Recorded Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="RecordedDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-lg-2 timepick pt-2">
          <mat-form-field  class="input-full-width timer w-100" appearance="outline">
            <input matInput [ngxTimepicker]="toggleTimepicker" [disableClick]="true" formControlName="RecordedTime">
            <mat-label>Recorded Time</mat-label>
            <ngx-material-timepicker-toggle [for]="toggleTimepicker">
            </ngx-material-timepicker-toggle>
            <ngx-material-timepicker #toggleTimepicker>
            </ngx-material-timepicker>
          </mat-form-field>
        </div>

        <div class="col-xl-2 col-lg-6 pt-2">
          <mat-form-field  class="w-100" appearance="outline">
            <mat-label>Recorded During</mat-label>
            <input matInput placeholder="Enter" formControlName="recordedDuring">
          </mat-form-field>
        </div>


        <div class="col-xl-3 col-lg-6 pt-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Recorded By</mat-label>
            <input matInput placeholder="Enter" formControlName="RecordedBy">
          </mat-form-field>
        </div>
      </div>

    </mat-card>
  </form>

  <mat-card class="p-1">
    <div class="scroll-x">



      <div class="row p-0 m-0 scroll-md">
        <!--*ngFor="let phyName of physicianData"-->

        
                

        <div class="col-xl-6">
          <div class="v-line">
            <div class="pt-3 pb-2">
              <div class="row pb-1 pt-3">
                <div class="col font_color">
                  Employer Name
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1">:</div>
                <div class="col-xl-7 col-lg-7 col-md-7">
                  {{data.EmployerName}}
                </div>
              </div>

              <div class="row  pb-1 pt-3">
                <div class="col font_color">Contact Person</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.ContactPerson}}</div>
              </div>

              <div class="row  pb-1 pt-3">
                <div class="col font_color">Email</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.Email}}</div>
              </div>

              <div class="row  pb-1 pt-3">
                <div class="col font_color">Cell Phone</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.CellPhone}}</div>
              </div>

              <div class="row  pb-1 pt-3">
                <div class="col font_color">Phone No</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.PhoneNo}}</div>
              </div>

              <div class="row  pb-1 pt-3">
                <div class="col font_color">Address Line 1</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.AddressLine1}}</div>
              </div>

              <div class="row  pb-1 pt-3">
                <div class="col font_color">Address Line 2</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.AddressLine2}}</div>
              </div>

              <div class="row pb-1 pt-3">
                <div class="col font_color">Town</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.Town}}</div>
              </div>
            </div>
          </div>
        </div>



        <div class="col-xl-6">
          <div class="v-line">
            <div class="pt-3 pb-2">
              <div class="row pb-1 pt-3">
                <div class="col font_color">
                  City
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1">:</div>
                <div class="col-xl-7 col-lg-7 col-md-7">
                  {{data.City}}
                </div>
              </div>

              <div class="row  pb-1 pt-3">
                <div class="col font_color">District</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.District}}</div>
              </div>

              <div class="row  pb-1 pt-3">
                <div class="col font_color">State</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.State}}</div>
              </div>

              <div class="row  pb-1 pt-3">
                <div class="col font_color">Country</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.Country}}</div>
              </div>

              <div class="row  pb-1 pt-3">
                <div class="col font_color">PIN</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.PIN}}</div>
              </div>

              <div class="row  pb-1 pt-3">
                <div class="col font_color">From Date</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.WorkDateFrom| date : 'dd-MM-yyyy'}}</div>
              </div>

              <div class="row  pb-1 pt-3">
                <div class="col font_color">To Date</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.WorkDateTo| date : 'dd-MM-yyyy'}}</div>
              </div>

              <div class="row pb-1 pt-3">
                <div class="col font_color">Notes</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.AdditionalNotes}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>

