<div class="white mt-0"  cdkDrag cdkDragRootElement=".cdk-overlay-pane" >
  <h5 cdkDragHandle class="p-3 title-bg">
    Patient Vitals<button style="color:white" class="close" (click)="dialogClose()" aria-label="Close">
      <span aria-hidden="true">X</span>
    </button>
  </h5>
  <form [formGroup]="patientVitalsViewForm">
    <mat-card class=" px-3 py-1 my-2">
      <div class="row w-100">
        <div class="col-xl-3 col-lg-6 pt-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Visit Date & Time</mat-label>
            <input matInput placeholder="Enter" formControlName="visitDateandTime">
          </mat-form-field>
        </div>
        <div class="col-xl-2 col-lg-6 pt-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Recorded Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="RecordedDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-lg-2 timepick pt-2">
          <mat-form-field class="input-full-width timer w-100" appearance="outline">
            <input matInput [ngxTimepicker]="toggleTimepicker1" [disableClick]="true" formControlName="RecordedTime">
            <mat-label>Record Time</mat-label>
            <ngx-material-timepicker-toggle [for]="toggleTimepicker1">
            </ngx-material-timepicker-toggle>
            <ngx-material-timepicker #toggleTimepicker1>
            </ngx-material-timepicker>
          </mat-form-field>
        </div>
        <div class="col-xl-2 col-lg-6 pt-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Recorded During</mat-label>
            <input matInput placeholder="Enter" formControlName="recordedDuring">
          </mat-form-field>
        </div>
        <div class="col-xl-3 col-lg-6 pt-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Recorded By</mat-label>
            <input matInput placeholder="Enter" formControlName="RecordedBy">
          </mat-form-field>
        </div>
      </div>
    </mat-card>
  </form>
  <mat-card class="p-1">
    <div class="scroll-x">
      <div class="row p-0 m-0 scroll-md">
            <div class="col-xl-6">
          <div class="v-line">
            <div class="pt-3 pb-2">
              <div class="row pb-1 pt-3">
                <div class="col font_color">
                  BMI
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1">:</div>
                <div class="col-xl-7 col-lg-7 col-md-7">
                  {{data.BMI}}
                </div>
              </div>
              <div class="row pb-1 pt-3">
                <div class="col font_color">BP Diastolic</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.BPDiastolic}}</div>
              </div>
              <div class="row pb-1 pt-3">
                <div class="col font_color">BP Systolic</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.BPSystolic}}</div>
              </div>
              <div class="row pb-1 pt-3">
                <div class="col font_color">BP Location</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.BPLocation}}</div>
              </div>              <div class="row pb-1 pt-3">
                <div class="col font_color">Blood Sugar Postpardinal</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.BloodSugarPostpardinal}}</div>
              </div>
              <div class="row pb-1 pt-3">
                <div class="col font_color">Blood Sugar Fasting</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.BloodsugarFasting}}</div>
              </div>
              <div class="row pb-1 pt-3">
                <div class="col font_color">Blood Sugar Random</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.BloodsugarRandom}}</div>
              </div>
              <div class="row pb-1 pt-3">
                <div class="col font_color">Head Circumference</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.HeadCircumference}}</div>
              </div>
              <div class="row pb-1 pt-3">
                <div class="col font_color">Heart Rate</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.HeartRate}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="v-line">
            <div class="pt-3 pb-2">
              <div class="row pb-1 pt-3">
                <div class="col font_color">
                  Height
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1">:</div>
                <div class="col-xl-7 col-lg-7 col-md-7">
                  {{data.Height}}
                </div>
              </div>

              <div class="row pb-1 pt-3">
                <div class="col font_color"> Blood Pressure</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{IsBloodPressure}}</div>
              </div>

              <div class="row pb-1 pt-3">
                <div class="col font_color"> Diabetic</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{IsDiabetic}}</div>
              </div>

              <div class="row pb-1 pt-3">
                <div class="col font_color">Last Meal details</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.LastMealdetails}}</div>
              </div>

              <div class="row pb-1 pt-3">
                <div class="col font_color">Last Meal taken on</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.LastMealtakenon| date : 'dd-MM-yyyy'}}</div>
              </div>

              <div class="row pb-1 pt-3">
                <div class="col font_color">Notes</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.Notes}}</div>
              </div>

              <div class="row pb-1 pt-3">
                <div class="col font_color">O2 Saturation</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.O2Saturation}}</div>
              </div>

              <div class="row pb-1 pt-3">
                <div class="col font_color">Pain Area</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.PainArea}}</div>
              </div>
              <div class="row pb-1 pt-3">
                <div class="col font_color">Pain Scale</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.PainScale}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>

