
<div class="overflow-hidden px-4">
  <form [formGroup]="searchForm">

    <div class="text-right">
      <div class="row justify-content-end w-100">
        <div class="col-xl-3 d-flex flex-row-reverse opdstopres pt-5 pb-2">
          <input type="search" (keyup)="searchStaffdata()" placeholder="Staff Lookup" formControlName="searchStaff"
                 class=" ml-7 pl-5 ">
        </div>
        <div class=" pt-5 pb-2">
          <button class="custome-button mat-primary btn btn-info" (click)="openAddStaff()">Add Staff</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 dark-color padding-none">
        <mat-card>
          <mat-card-content>
            <div class="row">
              <app-bms-table [config]="tableConfig" [datas]="staffgrid" (editItem)="editStaff($event)"></app-bms-table>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    </form>
</div>
