<div cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <form [formGroup]="staffaddressform">

    <h5 cdkDragHandle class="p-3 title-bg">
      Staff Address <button style="color:white" class="close" (click)="dialogClose()" aria-label="Close">
        <span aria-hidden="true">X</span>
      </button>
    </h5>

      <div class="row pb-3 pt-3">

        <div class="col-xl-3 col-lg-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>
              <span class="required-asterisk"
                    *ngIf="(staffaddressform.value.AddressType == '' || staffaddressform.value.AddressType == null) ? true : false"></span>Address Type
            </mat-label>
            <mat-select formControlName="AddressType">
              <mat-option *ngFor="let AddressType of addresstype" (click)="AddressTypeEvent(AddressType.AddressTypeDescription)" [value]="AddressType.AddressTypeId">
                <input hidden formControlName="AddressTypeDescription" />
                {{AddressType.AddressTypeDescription}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <div class="col-xl-3 col-lg6">
          <mat-form-field class="w-100 " appearance="outline">
            <mat-label>Address1</mat-label>
            <input maxlength="50" matInput placeholder="Enter" formControlName="Address1">
          </mat-form-field>
        </div>
        <div class="col-xl-3 col-lg6">
          <mat-form-field class="w-100 " appearance="outline">
            <mat-label>Address2</mat-label>
            <input maxlength="50" matInput placeholder="Enter" formControlName="Address2">
          </mat-form-field>
        </div>
        <div class="col-xl-3 col-lg6">
          <mat-form-field class="w-100 " appearance="outline">
            <mat-label>Town/city</mat-label>
            <input maxlength="50" matInput placeholder="Enter" formControlName="Town">
          </mat-form-field>
        </div>
        <div class="col-xl-3 col-lg6">
          <mat-form-field class="w-100 " appearance="outline">
            <mat-label>District</mat-label>
            <input maxlength="25" matInput placeholder="Enter" formControlName="District">
          </mat-form-field>
        </div>
        <div class="col-xl-3 col-lg6">
          <mat-form-field class="w-100 " appearance="outline">
            <mat-label>PIN code</mat-label>
            <input numeric maxlength="6" matInput placeholder="Enter" formControlName="PINcode">
          </mat-form-field>
        </div>
        <div class="col-xl-3 col-lg6">
          <mat-form-field class="w-100 " appearance="outline">
            <mat-label>State</mat-label>
            <input maxlength="25" matInput placeholder="Enter" formControlName="State">
          </mat-form-field>
        </div>
        <div class="col-xl-3 col-lg6">
          <mat-form-field class="w-100 " appearance="outline">
            <mat-label>Country</mat-label>
            <input maxlength="25" matInput placeholder="Enter" formControlName="Country">
          </mat-form-field>
        </div>
        <div class="col-xl-3 col-lg-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Valid From</mat-label>
            <input matInput [matDatepicker]="pickery" placeholder="Valid From" formControlName="ValidFrom">
            <mat-datepicker-toggle matSuffix [for]="pickery"></mat-datepicker-toggle>
            <mat-datepicker #pickery></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-xl-3 col-lg-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Valid To</mat-label>
            <input matInput [matDatepicker]="pickerm" placeholder="Valid To" formControlName="ValidTo">
            <mat-datepicker-toggle matSuffix [for]="pickerm"></mat-datepicker-toggle>
            <mat-datepicker #pickerm></mat-datepicker>
          </mat-form-field>
        </div>
      </div>


      <div class="pull-right">
        <button mat-flat-button color="" (click)="submit()" class="custome-button mr-2  mat-primary vissub schedbtn">Submit</button>
        <button type="button" mat-stroked-button class="transperent-button mr-2 schedbtn"
                (click)="clear()" color="primary">
          Clear
        </button>
      </div>
  </form>
</div>

