<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" >
    <h5 cdkDragHandle class="p-3 title-bg">
      {{showvalue}} Country <button style="color: white" class="close" (click)="dialogClose()" aria-label="Close">
        <span aria-hidden="true">X</span>
      </button>
    </h5>
    <div class="overflow-hidden px-3 pb-2">
      <form [formGroup]="countryForm">
        <div class="row">
  
          <div class="col-sm-12 mt-3">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label><span class="required-asterisk" *ngIf="(countryForm.value.countryCode == '' || countryForm.value.countryCode == null) ? true : false">
              </span>Country Code</mat-label>
              <input matInput [readonly]="isReadOnly"  placeholder="Enter Code" formControlName="countryCode" maxlength="10"/>
            </mat-form-field>
          </div>
  
          <div class="col-sm-12 mt-3">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label><span class="required-asterisk" *ngIf="(countryForm.value.countryDesc == '' || countryForm.value.countryDesc == null) ? true : false">
              </span>Country Description </mat-label>
              <input matInput placeholder="Enter Desc" formControlName="countryDesc" />
            </mat-form-field>
          </div>
  
          <div class="col-sm-12 mt-3">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label><span class="required-asterisk" *ngIf="(countryForm.value.OrderNo == '' || countryForm.value.OrderNo == null) ? true : false">
              </span>Order No</mat-label>
              <input numeric matInput  placeholder="Enter" formControlName="OrderNo" />
            </mat-form-field>
          </div>
  
        </div>
        <div>
          <div class="text-right justify-content-end">
            <button mat-flat-button  class="custome-button mat-primary mr-2" (click)="save()">
              Save
            </button>
            <button mat-stroked-button class="transperent-button"  type="button" (click)="cleartheForm()">
              Clear
            </button>
          </div>
        </div>
      </form>
    </div>  
  </div>
  