<div cdkDrag cdkDragRootElement=".cdk-overlay-pane">
    <h5 cdkDragHandle class="p-3 title-bg">{{showName}} Treatment Type<button style="color: white" class="close" (click)="dialogClose()" aria-label="Close">
            <span aria-hidden="true">X</span></button>
    </h5>

    <div class="overflow-hidden px-3 pb-2">
        <form [formGroup]="addTreatmentTypeForm">
            <div class="row">

                <div class="col-sm-12 mt-3">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label><span class="required-asterisk" *ngIf="(addTreatmentTypeForm.value.TreatmentTypeCode == '' || addTreatmentTypeForm.value.TreatmentTypeCode == null) ? true : false">
                        </span>Treatment Type Code</mat-label>
                        <input matInput [readonly]="isReadOnly" placeholder="Enter" maxlength="10" formControlName="TreatmentTypeCode" />
                    </mat-form-field>
                </div>

                <div class="col-sm-12 mt-3">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label><span class="required-asterisk" *ngIf="(addTreatmentTypeForm.value.TreatmentTypeDescription == '' || addTreatmentTypeForm.value.TreatmentTypeDescription == null) ? true : false">
                        </span>Treatment Type Description</mat-label>
                        <input matInput placeholder="Enter" formControlName="TreatmentTypeDescription" />
                    </mat-form-field>
                </div>

                <div class="col-sm-12 mt-3">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label><span class="required-asterisk" *ngIf="(addTreatmentTypeForm.value.OrderNo == '' || addTreatmentTypeForm.value.OrderNo == null) ? true : false">
                        </span>Order No</mat-label>
                        <input numeric matInput placeholder="Enter" formControlName="OrderNo" />
                    </mat-form-field>
                </div>

            </div>
            <div>
              <div class="text-right justify-content-end">
                <button mat-flat-button class="custome-button mat-primary mr-2" (click)="addEditTreatmentType()">Save</button>
                <button mat-stroked-button class="transperent-button" color="primary" type="button" (click)="clearForm()">Clear</button>
              </div>
            </div> 
        </form>
    </div>    
</div>
