   <!-- <div class="common_submenu p-2  d-flex ">
  <div class="d-flex"> 

     <div class="pr-4 ">
      <button mat-button class="d-flex align-content-center" mat-button [matMenuTriggerFor]="menu3"
        #consultTrigger="matMenuTrigger">
        <mat-icon><img src='assets/images/opd/consult.png' /> </mat-icon>
        <span class="f-18  theme-text-color">Consult</span>
      </button>
    </div>
    <mat-menu #menu3="matMenu">
      <div *ngFor=" let subitem of subMenuVals3">
        <button class="submenuicons" mat-menu-item [routerLink]="subitem.Url">
          <mat-icon [innerHTML]="subitem.Icon"></mat-icon>
          <span class="menu-title" [innerHTML]="subitem.Title"></span>
        </button>
      </div>
    </mat-menu> 
  </div>
</div>  -->

<!-- <router-outlet></router-outlet>  -->