<mat-card>
    <mat-card class="p-0 mb-3">
        <div class="scroll-x">
            <div class="row p-0 m-0 scroll-md">
                <div class="col-sm-1 p-0 ">
                    <img src="assets/images/patient-img.png" class="img-fluid" height="136" />
                </div>

                <div class="col-sm-4">
                    <div class="v-line">
                        <div class="pt-3 pb-2">
                            <div class="row pb-1">
                                <div class="col-xl-4 col-lg-4 col-md-4 font_color">
                                    Patient Name</div>
                                <div class="col-xl-1 col-lg-1 col-md-1">:</div>
                                <div class="col-xl-7 col-lg-7 col-md-7">Mr.Rahul Sharma
                                </div>
                            </div>

                            <div class="row  pb-1">
                                <div class="col font_color">DOB/ Age</div>
                                <div class="col-lg-1">:</div>
                                <div class="col-lg-7">25-08-1994(25 Years)</div>
                            </div>

                            <div class="row  pb-1">
                                <div class="col font_color">Cell Number</div>
                                <div class="col-lg-1">:</div>
                                <div class="col-lg-7">+91-123456789</div>
                            </div>

                            <div class="row">
                                <div class="col font_color">Next of kin</div>
                                <div class="col-lg-1">:</div>
                                <div class="col-lg-7">Mr.Roshan Sharma (Father)</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 v-line">
                    <div class="pt-3 col flex-grow-1 w-auto">
                        <div class="row pb-1">
                            <div class="col pl-4 font_color ">Primary Physician</div>
                            <div class="col-lg-1">:</div>
                            <div class="col">Dr.Nithin Parmar</div>
                        </div>
                        <div class="row pb-1">
                            <div class="col pl-4 font_color ">Last Visit Date</div>
                            <div class="col-lg-1">:</div>
                            <div class="col">14-02-2019</div>
                        </div>
                        <div class="row pb-1">
                            <div class="col pl-4 font_color ">Diabetic</div>
                            <div class="col-lg-1">:</div>
                            <div class="col">NO</div>
                        </div>
                        <div class="row pb-1">
                            <div class="col pl-4 red">Allergies</div>
                            <div class="col-lg-1">:</div>
                            <div class="col red">Hives</div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 w-auto v-line">
                    <div class="pt-3 col flex-grow-1 w-auto">
                        <div class="row">
                            <div class="col pl-4 font_color ">Bill Amount</div>
                            <div class="col-lg-1">:</div>
                            <div class="col">5000</div>
                        </div>
                        <div class="row">
                            <div class="col pl-4 font_color ">Paid</div>
                            <div class="col-lg-1">:</div>
                            <div class="col">2500</div>
                        </div>
                        <div class="row">
                            <div class="col pl-4 font_color ">Balance</div>
                            <div class="col-lg-1">:</div>
                            <div class="col">2500</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>

    <mat-card-content [style.overflow]="'auto'" [style.height.px]="'600'">

        <div class="white mb-3 mt-2 p-1">
        <mat-card class="p-0 mb-4">
            <h5 class="p-3 title-bg">Triage Consultation</h5>
                <div class="scroll-x">
                    <div class="row p-0 m-0 scroll-md">
                        <div class="col-lg-6">
                            <div class="v-line">
                                <div class="pt-3 pb-2">
                                    <div class="row pb-1">
                                        <div class="col-xl-4 col-lg-4 col-md-4 font_color">
                                            Chief Complaint</div>
                                        <div class="col-xl-1 col-lg-1 col-md-1">:</div>
                                        <div class="col-xl-7 col-lg-7 col-md-7">Pain & Discharge in left ear
                                        </div>
                                    </div>

                                    <div class="row  pb-1">
                                        <div class="col font_color">Problem Area</div>
                                        <div class="col-lg-1">:</div>
                                        <div class="col-lg-7">Left ear. Primary diagnosis  shows Otalgia. ICD 10 H9202, Left ear</div>
                                    </div>

                                    <div class="row  pb-1">
                                        <div class="col font_color">Duration</div>
                                        <div class="col-lg-1">:</div>
                                        <div class="col-lg-7">2 Weeks</div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="v-line">
                                <div class="pt-3 pb-2">
                                    <div class="row pb-1">
                                        <div class="col-xl-4 col-lg-4 col-md-4 font_color">
                                            ICD10</div>
                                        <div class="col-xl-1 col-lg-1 col-md-1">:</div>
                                        <div class="col-xl-7 col-lg-7 col-md-7">H9202, Left ear
                                        </div>
                                    </div>

                                    <div class="row  pb-1">
                                        <div class="col font_color">Initial diagnosis</div>
                                        <div class="col-lg-1">:</div>
                                        <div class="col-lg-7">Primary diagnosis shows Otalgia</div>
                                    </div>

                                    <div class="row  pb-1">
                                        <div class="col font_color">Etiology</div>
                                        <div class="col-lg-1">:</div>
                                        <div class="col-lg-7">Unknown</div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
        </mat-card>
        </div>
    <div class="white mb-3 mt-2 p-1">
        <mat-card class="p-0 mb-4">
            <h5 class="p-3 title-bg">Visit No:1</h5>
            <div class="scroll-x">
                <div class="row p-0 m-0 scroll-md">
                    <div class="col-lg-6">
                            <div class="v-line">
                                <div class="pt-3 pb-2">
                                    <div class="row pb-1">
                                        <div class="col-xl-4 col-lg-4 col-md-4 font_color">
                                            Physician Consult notes</div>
                                        <div class="col-xl-1 col-lg-1 col-md-1">:</div>
                                        <div class="col-xl-7 col-lg-7 col-md-7">Patient is diagnosied with Otalgia in left ear. Patient is expected to recover completely within 10 days. For any complications or aggravation contact the doctor immediately.
                                        </div>
                                    </div>

                                    <div class="row  pb-1">
                                        <div class="col font_color">Recommended Procedure</div>
                                        <div class="col-lg-1">:</div>
                                        <div class="col-lg-7">Medication,OFLOXACIN</div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="v-line">
                                <div class="pt-3 pb-2">
                                    <div class="row pb-1">
                                        <div class="col-xl-4 col-lg-4 col-md-4 font_color">
                                            Lab Orders</div>
                                        <div class="col-xl-1 col-lg-1 col-md-1">:</div>
                                        <div class="col-xl-7 col-lg-7 col-md-7">None needed at this point.
                                        </div>
                                    </div>

                                    <div class="row  pb-1">
                                        <div class="col font_color">Medications</div>
                                        <div class="col-lg-1">:</div>
                                        <div class="col-lg-7">OFLOXACIN</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                </div>
            </div>

        </mat-card>
    </div>
    <div class="white mb-5 mt-2 p-1">
        <mat-card class="p-0 mb-3">
            <h5 class="p-3 title-bg">Visit No:2</h5>
                <div class="scroll-x">
                    <div class="row p-0 m-0 scroll-md">
                        <div class="col-lg-6">
                            <div class="v-line">
                                <div class="pt-3 pb-2">
                                    <div class="row pb-1">
                                        <div class="col-xl-4 col-lg-4 col-md-4 font_color">
                                            Physician Consult notes</div>
                                        <div class="col-xl-1 col-lg-1 col-md-1">:</div>
                                        <div class="col-xl-7 col-lg-7 col-md-7">Patient is diagnosied with Otalgia in left ear on 11/06/2019. Patient is expected to recover completely within 10 days. For any complications or aggravation contact the doctor immediately.
                                        </div>
                                    </div>

                                    <div class="row  pb-1">
                                        <div class="col font_color">Recommended Procedure</div>
                                        <div class="col-lg-1">:</div>
                                        <div class="col-lg-7">Patient is respnding to the treatment. So continue the same medication.</div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="v-line">
                                <div class="pt-3 pb-2">
                                    <div class="row pb-1">
                                        <div class="col-xl-4 col-lg-4 col-md-4 font_color">
                                            Lab Orders</div>
                                        <div class="col-xl-1 col-lg-1 col-md-1">:</div>
                                        <div class="col-xl-7 col-lg-7 col-md-7">None
                                        </div>
                                    </div>

                                    <div class="row  pb-1">
                                        <div class="col font_color">Medications</div>
                                        <div class="col-lg-1">:</div>
                                        <div class="col-lg-7">OFLOXACIN</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
            </mat-card>
    </div>
    </mat-card-content>
</mat-card>