<mat-card>    
<mat-card class="p-0 mb-3 ">
        <h5 class="p-3 title-bg">Intake Summary</h5>
        <div class="scroll-x">
            <div class="row p-0 m-0 scroll-md">
                <div class="col-sm-1 p-0 ">
                    <img src="assets/images/patient-img.png" class="img-fluid" height="136" />
                </div>

                <div class="col-sm-4">
                    <div class="v-line">
                        <div class="pt-3 pb-2">
                            <div class="row pb-1">
                                <div class="col-xl-4 col-lg-4 col-md-4 font_color">
                                    Patient Name</div>
                                <div class="col-xl-1 col-lg-1 col-md-1">:</div>
                                <div class="col-xl-7 col-lg-7 col-md-7">Mr.Rahul Sharma
                                </div>
                            </div>

                            <div class="row  pb-1">
                                <div class="col font_color">DOB/ Age</div>
                                <div class="col-lg-1">:</div>
                                <div class="col-lg-7">25-08-1994(25 Years)</div>
                            </div>

                            <div class="row  pb-1">
                                <div class="col font_color">Cell Number</div>
                                <div class="col-lg-1">:</div>
                                <div class="col-lg-7">+91-123456789</div>
                            </div>

                            <div class="row">
                                <div class="col font_color">Next of kin</div>
                                <div class="col-lg-1">:</div>
                                <div class="col-lg-7">Mr.Roshan Sharma (Father)</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 v-line">
                    <div class="pt-3 col flex-grow-1 w-auto">
                        <div class="row pb-1">
                            <div class="col pl-4 font_color ">Primary Physician</div>
                            <div class="col-lg-1">:</div>
                            <div class="col">Dr.Nithin Parmar</div>
                        </div>
                        <div class="row pb-1">
                            <div class="col pl-4 font_color ">Last Visit Date</div>
                            <div class="col-lg-1">:</div>
                            <div class="col">14-02-2019</div>
                        </div>
                        <div class="row pb-1">
                            <div class="col pl-4 font_color ">Diabetic</div>
                            <div class="col-lg-1">:</div>
                            <div class="col">NO</div>
                        </div>
                        <div class="row pb-1">
                            <div class="col pl-4 red">Allergies</div>
                            <div class="col-lg-1">:</div>
                            <div class="col red">Hives</div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 w-auto v-line">
                    <div class="pt-3 col flex-grow-1 w-auto">
                        <div class="row">
                            <div class="col pl-4 font_color ">Bill Amount</div>
                            <div class="col-lg-1">:</div>
                            <div class="col">5000</div>
                        </div>
                        <div class="row">
                            <div class="col pl-4 font_color ">Paid</div>
                            <div class="col-lg-1">:</div>
                            <div class="col">2500</div>
                        </div>
                        <div class="row">
                            <div class="col pl-4 font_color ">Balance</div>
                            <div class="col-lg-1">:</div>
                            <div class="col">2500</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>

    <mat-card-content [style.overflow]="'auto'" [style.height.px]="'600'">
        <div class="white mb-5 mt-2 p-1">
            <mat-card class="p-0">
                            <h5 class="p-3 title-bg">Visit Details</h5>
                            <div class="pt-3">
                                <div class="row">
                                    <div class="col-lg-6 pb-3">
                                        <div class="col-xl-4 col-lg-4 col-md-4 f-l font_color">
                                            Visit Date & Time</div>
                                        <div class="col-xl-1 col-lg-1 col-md-1 f-l">:</div>
                                        <div class="col-xl-7 col-lg-7 col-md-7 f-l">11/06/2019 11.55 AM
                                        </div>
                                    </div>

                                    <div class="col-lg-6 pb-3">
                                        <div class="col-xl-4 col-lg-4 col-md-4 f-l font_color">Urgency</div>
                                        <div class="col-lg-1 f-l">:</div>
                                        <div class="col-lg-7 f-l">Elective</div>
                                    </div>

                                    <div class="col-lg-6 pb-3">
                                        <div class="col-xl-4 col-lg-4 col-md-4 f-l font_color">Chief Complaint</div>
                                        <div class="col-lg-1 f-l">:</div>
                                        <div class="col-lg-7 f-l">Ear Pain</div>
                                    </div>
                                </div>
                </div>
            </mat-card>
        </div>
        <div class="white mt-0 mb-5 p-1">
            <mat-card class="p-0">
                <h5 class="p-3 title-bg">Vitals</h5>
                <div class="scroll-x">
                    <div class="row p-0 m-0 scroll-md">
                        <div class="col-sm-4">
                            <div class="v-line">
                                <div class="pt-3 pb-2">
                                    <div class="row pb-1">
                                        <div class="col-xl-4 col-lg-4 col-md-4 font_color">
                                            Height</div>
                                        <div class="col-xl-1 col-lg-1 col-md-1">:</div>
                                        <div class="col-xl-7 col-lg-7 col-md-7">183 cm
                                        </div>
                                    </div>

                                    <div class="row  pb-1">
                                        <div class="col font_color">Weight</div>
                                        <div class="col-lg-1">:</div>
                                        <div class="col-lg-7">82 kg</div>
                                    </div>

                                    <div class="row  pb-1">
                                        <div class="col font_color">BMI</div>
                                        <div class="col-lg-1">:</div>
                                        <div class="col-lg-7">24.5 kg/m<sub>2</sub></div>
                                    </div>

                                    <div class="row">
                                        <div class="col font_color">Temp</div>
                                        <div class="col-lg-1">:</div>
                                        <div class="col-lg-7">100.4 F</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4 v-line">
                            <div class="pt-3 col flex-grow-1 w-auto">
                                <div class="row pb-1">
                                    <div class="col pl-4 font_color">BP(s)</div>
                                    <div class="col-lg-1">:</div>
                                    <div class="col">140 mm Hg</div>
                                </div>
                                <div class="row pb-1">
                                    <div class="col pl-4 font_color">BP(D)</div>
                                    <div class="col-lg-1">:</div>
                                    <div class="col">100 mm Hg</div>
                                </div>
                                <div class="row pb-1">
                                    <div class="col pl-4 font_color">HR</div>
                                    <div class="col-lg-1">:</div>
                                    <div class="col">78/Bpm</div>
                                </div>
                                <div class="row pb-1">
                                    <div class="col pl-4 font_color">O2</div>
                                    <div class="col-lg-1">:</div>
                                    <div class="col">90%</div>
                                </div>
                                <div class="row pb-1">
                                    <div class="col pl-4 font_color">Last Meal Taken On</div>
                                    <div class="col-lg-1">:</div>
                                    <div class="col">11/6/2019 08:15 AM</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3 w-auto v-line">
                            <div class="pt-3 col flex-grow-1 w-auto">
                                <div class="row pb-1">
                                    <div class="col pl-4 font_color">Pain Scale</div>
                                    <div class="col-lg-1">:</div>
                                    <div class="col">5</div>
                                </div>
                                <div class="row pb-1">
                                    <div class="col pl-4 font_color">RR</div>
                                    <div class="col-lg-1">:</div>
                                    <div class="col">80/Bpm</div>
                                </div>
                                <div class="row pb-1">
                                    <div class="col pl-4 font_color">Pain Area</div>
                                    <div class="col-lg-1">:</div>
                                    <div class="col">Nose</div>
                                </div>
                                <div class="row pb-1">
                                    <div class="col pl-4 font_color">Last Meal Details</div>
                                    <div class="col-lg-1">:</div>
                                    <div class="col">Bread & Milk</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="white mt-0 mb-5 p-1">
            <mat-card class="p-0">
                <h5 class="p-3 title-bg">Allergies</h5>
                <table class="table w-100 mb-0 problemListTable">
                    <thead>
                        <tr>
                            <th>Allergy Type</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Aggravated By</th>
                            <th>Alleviated By</th>
                            <th>Severity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="rounded shadow-sm c-white bg-red">
                            <td>Drug</td>
                            <td>Hives</td>
                            <td>Allergic to Asprin, Creates Hives</td>
                            <td>Unknown</td>
                            <td>Unknown</td>
                            <td>Moderate</td>
                        </tr>
                    </tbody>
                </table>
            </mat-card>
        </div>
        <div class="white mt-0 mb-5 p-1">
            <mat-card class="p-0">
                <h5 class="p-3 title-bg">Problem List</h5>
                <table class="table w-100 mb-0 problemListTable">
                    <thead>
                        <tr>
                            <th>S.no</th>
                            <th>Problem Type</th>
                            <th>Problem </th>
                            <th>Diagonsis Date</th>
                            <th>Physician Name</th>
                            <th>status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class=" rounded shadow-sm">
                            <td>1</td>
                            <td>Chronic</td>
                            <td>Arthritis(Knee Pain)</td>
                            <td>15/02/2015</td>
                            <td>Dr. Mukesh Sharma</td>
                            <td>Active</td>
                        </tr>
                    </tbody>
                </table>
            </mat-card>
        </div>
        <div class="white mt-0 mb-5 p-1">
            <mat-card class="p-0">
                <h5 class="p-3 title-bg">Medication</h5>
                <table class="table w-100 mb-0 problemListTable">
                    <thead>
                        <tr>
                            <th>S.no</th>
                            <th>Drug Name</th>
                            <th>Prescribed Date</th>
                            <th>Prescribed by</th>
                            <th>Frequency</th>
                            <th>Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class=" rounded shadow-sm">
                            <td>1</td>
                            <td>Riluxlmab</td>
                            <td>15/02/2015</td>
                            <td>Dr. Mukesh Sharma</td>
                            <td>3 Tablets per day</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>
            </mat-card>
        </div>
        <div class="white mt-0 mb-5 p-1">
            <mat-card class="p-0">
                <h5 class="p-3 title-bg">Social History</h5>
                <div class="scroll-x">
                    <div class="row p-0 m-0 scroll-md">
                        <div class="col-sm-6">
                            <div class="v-line">
                                <div class="pt-3 pb-2">
                                    <div class="row pb-1">
                                        <div class="col-xl-4 col-lg-4 col-md-4 font_color">
                                            Smoking</div>
                                        <div class="col-xl-1 col-lg-1 col-md-1">:</div>
                                        <div class="col-xl-7 col-lg-7 col-md-7">-
                                        </div>
                                    </div>

                                    <div class="row  pb-1">
                                        <div class="col font_color">Notes</div>
                                        <div class="col-lg-1">:</div>
                                        <div class="col-lg-7">-</div>
                                    </div>

                                    <div class="row  pb-1">
                                        <div class="col font_color">Drinking</div>
                                        <div class="col-lg-1">:</div>
                                        <div class="col-lg-7">-</div>
                                    </div>

                                    <div class="row">
                                        <div class="col font_color">Notes</div>
                                        <div class="col-lg-1">:</div>
                                        <div class="col-lg-7">-</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 v-line">
                            <div class="pt-3 col flex-grow-1 w-auto">
                                <div class="row pb-1">
                                    <div class="col pl-4 font_color">Drug Habits</div>
                                    <div class="col-lg-1">:</div>
                                    <div class="col">-</div>
                                </div>
                                <div class="row pb-1">
                                    <div class="col pl-4 font_color">Life style</div>
                                    <div class="col-lg-1">:</div>
                                    <div class="col"></div>
                                </div>
                                <div class="row pb-1">
                                    <div class="col pl-4 font_color">Others</div>
                                    <div class="col-lg-1">:</div>
                                    <div class="col">-</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="white mt-0 mb-5 p-1">
            <mat-card class="p-0">
                <h5 class="p-3 title-bg">ROS</h5>
                <div class="scroll-x">
                    <div class="row p-0 m-0 scroll-md">
                        <div class="col-sm-4">
                            <div class="v-line">
                                <div class="pt-3 pb-2">
                                    <div class="row pb-1">
                                        <div class="col-xl-4 col-lg-4 col-md-4 font_color">
                                            General</div>
                                        <div class="col-xl-1 col-lg-1 col-md-1">:</div>
                                        <div class="col-xl-7 col-lg-7 col-md-7">Weakness
                                        </div>
                                    </div>

                                    <div class="row  pb-1">
                                        <div class="col font_color">Skin</div>
                                        <div class="col-lg-1">:</div>
                                        <div class="col-lg-7">Itching</div>
                                    </div>

                                    <div class="row  pb-1">
                                        <div class="col font_color">Head</div>
                                        <div class="col-lg-1">:</div>
                                        <div class="col-lg-7">Others</div>
                                    </div>

                                    <div class="row">
                                        <div class="col font_color">Ears</div>
                                        <div class="col-lg-1">:</div>
                                        <div class="col-lg-7">Earache</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4 v-line">
                            <div class="pt-3 col flex-grow-1 w-auto">
                                <div class="row pb-1">
                                    <div class="col pl-4 font_color">Eyes</div>
                                    <div class="col-lg-1">:</div>
                                    <div class="col">Vision</div>
                                </div>
                                <div class="row pb-1">
                                    <div class="col pl-4 font_color">Nose</div>
                                    <div class="col-lg-1">:</div>
                                    <div class="col">Others</div>
                                </div>
                                <div class="row pb-1">
                                    <div class="col pl-4 font_color">Throat</div>
                                    <div class="col-lg-1">:</div>
                                    <div class="col">Dentures</div>
                                </div>
                                <div class="row pb-1">
                                    <div class="col pl-4 font_color">Neck</div>
                                    <div class="col-lg-1">:</div>
                                    <div class="col">Pain</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3 w-auto v-line">
                            <div class="pt-3 col flex-grow-1 w-auto">
                                <div class="row pb-1">
                                    <div class="col pl-4 font_color">Respiratory</div>
                                    <div class="col-lg-1">:</div>
                                    <div class="col">Wheezing</div>
                                </div>
                                <div class="row pb-1">
                                    <div class="col pl-4 font_color">Neurologic</div>
                                    <div class="col-lg-1">:</div>
                                    <div class="col">Seizures</div>
                                </div>
                                <div class="row pb-1">
                                    <div class="col pl-4 font_color">Hematologic</div>
                                    <div class="col-lg-1">:</div>
                                    <div class="col">Others</div>
                                </div>
                                <div class="row pb-1">
                                    <div class="col pl-4 font_color">Psychiatric</div>
                                    <div class="col-lg-1">:</div>
                                    <div class="col">Stress</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="white mt-0 mb-5 p-1">
            <mat-card class="p-0">
                <h5 class="p-3 title-bg">Nutrition Assessment</h5>
                <div class="scroll-x">
                    <div class="row p-0 m-0 scroll-md">
                        <div class="col-sm-6">
                            <div class="v-line">
                                <div class="pt-3 pb-2">
                                    <div class="row pb-1">
                                        <div class="col-xl-4 col-lg-4 col-md-4 font_color">
                                            Food Intake Type</div>
                                        <div class="col-xl-1 col-lg-1 col-md-1">:</div>
                                        <div class="col-xl-7 col-lg-7 col-md-7">Veg Food
                                        </div>
                                    </div>

                                    <div class="row  pb-1">
                                        <div class="col font_color">Do you/ patient eat reguarly</div>
                                        <div class="col-lg-1">:</div>
                                        <div class="col-lg-7">Yes</div>
                                    </div>

                                    <div class="row  pb-1">
                                        <div class="col font_color">Food Allergies</div>
                                        <div class="col-lg-1">:</div>
                                        <div class="col-lg-7">Potato</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 v-line">
                            <div class="pt-3 col flex-grow-1 w-auto">
                                <div class="row pb-1">
                                    <div class="col pl-4 font_color">Which Meals do you eat regularly?</div>
                                    <div class="col-lg-1">:</div>
                                    <div class="col">All Meals</div>
                                </div>
                                <div class="row pb-1">
                                    <div class="col pl-4 font_color">Carvings</div>
                                    <div class="col-lg-1">:</div>
                                    <div class="col">Noodles</div>
                                </div>
                            </div>
                        </div>
                        <table class="table w-100 mb-0 problemListTable">
                            <thead>
                                <tr>
                                    <th>S.no</th>
                                    <th>Intake Type</th>
                                    <th>Name</th>
                                    <th>Units</th>
                                    <th>Frequency</th>
                                    <th>status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class=" rounded shadow-sm">
                                    <td></td>
                                    <td> </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="white mt-0 mb-5 p-1">
            <mat-card class="p-0">
                <h5 class="p-3 title-bg">Nursing Notes</h5>
                <div class="scroll-x">
                    <div class="row p-0 m-0 scroll-md">
                        <div class="col-sm-12">

                            <div class="pt-3 pb-2">
                                <div class="row pb-1">
                                    <div class="col-xl-4 col-lg-4 col-md-4 ">
                                        Observation Notes</div>
                                    <div class="col-xl-1 col-lg-1 col-md-1">:</div>
                                    <div class="col-xl-7 col-lg-7 col-md-7">Drainage in left Ear
                                    </div>
                                </div>
                                <div class="row  pb-1">
                                    <div class="col ">First aid Dressing </div>
                                    <div class="col-lg-1">:</div>
                                    <div class="col-lg-7">None</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="white mt-0 mb-4 p-1">
            <mat-card class="p-0">
                <div class="scroll-x">
                    <div class="row p-0 m-0 font-bold scroll-md">
                        <div class="col-sm-6">
                            <div class="v-line">
                                <div class="pt-3 pb-2">
                                    <div class="row pb-1">
                                        <div class="col-xl-4 col-lg-4 col-md-4 ">
                                            Submitted By</div>
                                        <div class="col-xl-1 col-lg-1 col-md-1">:</div>
                                        <div class="col-xl-7 col-lg-7 col-md-7">Mrs.Neha Sharma
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 w-auto v-line">
                            <div class="pt-3 col flex-grow-1 w-auto">
                                <div class="row pb-1">
                                    <div class="col pl-4  ">Date & Time</div>
                                    <div class="col-lg-1">:</div>
                                    <div class="col">11/06/2019 : 12:55 PM</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>

    </mat-card-content>
</mat-card>
<button mat-flat-button color="" class="custome-button mat-primary mr-2 mt-3" (click)="onNoClick()">Close</button>
























