<div class="row m-4 bg-white">

  <table class="table table-bordered">
    <thead class="tablePopHead">
      <tr>
        <th>S.No</th>
        <th>Orders & Service Date</th>
        <th>Order By</th>
        <th> Results</th>
        <th> Comments</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Chest X-Ray <label class="pull-right labelBord">17-05-2019</label></td>
        <td>Raj Singh</td>
        <td> Cleared</td>
        <td> </td>
      </tr>
      <tr>
        <td>2</td>
        <td>EKG<label class="pull-right labelBord">17-05-2019</label></td>
        <td>Ravi </td>
        <td> Pending</td>
        <td> </td>
      </tr>
      <tr>
        <td>3</td>
        <td>Pulmonary Consult<label class="pull-right labelBord">17-05-2019</label></td>
        <td>Ashok Kumar</td>
        <td> Pending</td>
        <td> </td>
      </tr>
      <tr>
        <td>4</td>
        <td>Cardiology consult<label class="pull-right labelBord">17-05-2019</label></td>
        <td>Rahul Sharma</td>
        <td> Not Cleared</td>
        <td> </td>
      </tr>
      <tr>
        <td>5</td>
        <td>Labs<label class="pull-right labelBord">17-05-2019</label></td>
        <td>Raju</td>
        <td> Cleared</td>
        <td> </td>
      </tr>
    </tbody>
  </table>
</div>
<button mat-flat-button color="" class="custome-button mat-primary mr-2 mt-3" (click)="onNoClick()">Close</button>