<!--<visit-commonNoSearch></visit-commonNoSearch>
--><div class="overflow-hidden px-4 pb-3">
  <p class="d-inline pull-right text-primary btn pointer mb-0" (click)="backVisit()">Back to Visit</p>
  
  <div class="row col-xl-12 p-0 ml-0">
    <div class="col-md-12 col-sm-12 col-xs-12 dark-color p-0">
      <form>
        <div class="row">
          <div class="col-12">
            <mat-card>
              <div class="row">
                <div class="col-xs-12 p-3 w-100">
                  <div class="table-responsive shroff-table">
                    <table class="table w-100">
                      <thead>
                        <tr>
                          <th>S.No</th>
                           <th>Action</th> 
                          <th>Patient Name</th>
                          <th>Register Date</th> 
                          <th>Register Time</th>
                          <th>To Consult</th>
                          <th>Urgency</th>
                          <!-- <th>Current Location</th> -->
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="bg-white rounded shadow-sm">
                          <td>1</td>
                           <td><p class="text-primary btn pointer" (click)="viewPatient()">Open</p></td> 
                          <td><img src="assets/images/patient-profile.png" width="39px" /><span class="pl-2"> Mr.Rahul
                              Sharma</span></td>
                          <td>15-02-2019</td>
                          <td>03:00 PM</td>
                          <td>Dr.Amit Vyas/ ENT Surgery</td>
                          <td>Elective</td>
                          <!-- <td>OPD Waiting Room</td> -->
                        </tr>

                        <tr class="bg-white rounded shadow-sm">
                          <td>2</td>
                           <td><p class="text-primary btn pointer">Open</p></td>
                          <td><img src="assets/images/patient-profile2.png" width="39px" /><span class="pl-2">
                              Suresh</span></td>
                          <td>15-02-2019</td>
                          <td>03:00 PM</td>
                          <td>Dr.Amit Vyas/ ENT Surgery</td>
                          <td>Elective</td>
                          <!-- <td>OPD Waiting Room</td> -->
                        </tr>

                        <tr class="bg-white rounded shadow-sm">
                          <td>3</td>
                           <td><p class="text-primary btn pointer">Open</p></td>
                          <td><img src="assets/images/patient-profile.png" width="39px" /><span class="pl-2">
                              Suresh</span></td>
                          <td>15-02-2019</td>
                          <td>03:00 PM</td>
                          <td>Dr.Amit Vyas/ ENT Surgery</td>
                          <td>Elective</td>
                          <!-- <td>OPD Waiting Room</td> -->
                        </tr>

                        <tr class="bg-white rounded shadow-sm">
                          <td>4</td>
                           <td><p class="text-primary btn pointer">Open</p></td>
                          <td><img src="assets/images/patient-profile2.png" width="39px" /><span class="pl-2">
                              Suresh</span></td>
                          <td>15-02-2019</td>
                          <td>03:00 PM</td>
                          <td>Dr.Amit Vyas/ ENT Surgery</td>
                          <td>Elective</td>
                          <!-- <td>OPD Waiting Room</td> -->
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!--end of .table-responsive-->
                </div>
              </div>
            </mat-card>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
