<div>
  <app-MasterData></app-MasterData>
    <div class="row mr-3">
       <div class="text-right w-100 mt-2 mb-2 mr-2">
         <button class="custome-button mat-primary btn btn-info" (click)="addNewProblemArea()">Add New</button>
       </div>
    </div>

    <div>
       <mat-card class="table-wrapper">
         <mat-card-content>
           <h4>Problem Area</h4>
           <div class="row">
             <app-bms-table [config]="tableConfig" [datas]="problemAreaGrid" (editItem)="editProblemArea($event)" (deleteItem)="deleteProblemArea($event)"></app-bms-table>
           </div>
         </mat-card-content>
       </mat-card>
     </div>
</div>