<div class="common_submenu p-2 d-flex ">
  <div class="d-flex align-content-center scroll-x">
    <div class="mr-2 ">

      <button mat-button class="d-flex align-content-center" id="Add" (click)="openAppointment()">
        <mat-icon><img src='assets/images/MenuNewIcons/appointment/appointment.png' /></mat-icon>
        <span class="f-18 ">Add Appointment</span>
      </button>
    </div>

    <div class="mr-2 ">
      <button mat-button class="d-flex align-content-center" id="calendar" (click)="openCalender()">
        <mat-icon><img src='assets/images/MenuNewIcons/appointment/appointmentcalendar.png' /></mat-icon>
        <span class="f-18 ">Appointment Calendar</span>
      </button>
    </div>

    <div class="mr-2 ">
      <button mat-button class="d-flex align-content-center" id="List" (click)="openList()">
        <mat-icon><img src='assets/images/MenuNewIcons/appointment/appointmentlist.png' /></mat-icon>
        <span class="f-18 ">Appointment List</span>
      </button>
    </div>

  </div>
</div>
