<div cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <h5 cdkDragHandle class="p-3 title-bg">{{showName}} Appointment<button style="color: white" class="close" (click)="dialogClose()" aria-label="Close">
      <span aria-hidden="true">X</span></button>
  </h5>

  <div class="overflow-hidden px-3 pb-2">
    <form [formGroup]="addAppointmentForm">
      <div class="row">

        <div class="col-sm-12 mt-3">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label><span class="required-asterisk" *ngIf="(addAppointmentForm.value.AppointmentCode == '' || addAppointmentForm.value.AppointmentCode == null) ? true : false">
            </span>Appointment Code</mat-label>
            <input matInput [readonly]="isReadOnly" placeholder="Enter" maxlength="10" formControlName="AppointmentCode" />
          </mat-form-field>
        </div>

        <div class="col-sm-12 mt-3">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label><span class="required-asterisk" *ngIf="(addAppointmentForm.value.AppointmentDescription == '' || addAppointmentForm.value.AppointmentDescription == null) ? true : false">
            </span>Appointment Description</mat-label>
            <input matInput placeholder="Enter" formControlName="AppointmentDescription" />
          </mat-form-field>
        </div>

        <div class="col-sm-12 mt-3">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label><span class="required-asterisk" *ngIf="(addAppointmentForm.value.OrderNo == '' || addAppointmentForm.value.OrderNo == null) ? true : false">
            </span>Order No</mat-label>
            <input numeric matInput placeholder="Enter" formControlName="OrderNo" />
          </mat-form-field>
        </div>

      </div>
      <div>
        <div class="text-right justify-content-end">
          <button mat-flat-button class="custome-button mat-primary mr-2" (click)="addEditAppointment()">Save</button>
          <button mat-stroked-button class="transperent-button" color="primary" type="button" (click)="clearForm()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>