
<div class="white mt-4">
  <mat-card class="p-1">

    <h5 class="p-3 title-bg"> Setup Billing</h5>



    <div class="row  pb-1">
      <div class="col font_color">Department</div>
      <div class="col-lg-1">:</div>
      <div class="col-lg-7">{{data.DepartmentName}}</div>
    </div>


    <div class="row  pb-2">
      <div class="col font_color">Master Billing</div>
      <div class="col-lg-1">:</div>
      <div class="col-lg-7">{{data.MasterBillingTypeName}}</div>
    </div>

    <div class="row  pb-2">
      <div class="col font_color">SubMaster Billing</div>
      <div class="col-lg-1">:</div>
      <div class="col-lg-7">{{data.SubMasterBillingType}}</div>
    </div>

    <div class="row  pb-1">
      <div class="col font_color">Status</div>
      <div class="col-lg-1">:</div>
      <div class="col-lg-7">{{data.Status}}</div>
    </div>

    <div class="row  pb-1">
      <div class="col font_color">UserType</div>
      <div class="col-lg-1">:</div>
      <div class="col-lg-7">{{data.UserType}}</div>
    </div>



    <div class="row  pb-1">
      <div class="col font_color">OrderNo</div>
      <div class="col-lg-1">:</div>
      <div class="col-lg-7">{{data.OrderNo}}</div>
    </div>

    <div class="row  pb-1">
      <div class="col font_color">Accepted Payment Mode</div>
      <div class="col-lg-1">:</div>
      <div class="col-lg-7">{{data.AcceptedPaymentMode}}</div>
    </div>

    <div class="row  pb-1">
      <div class="col font_color">AllowDiscount</div>
    <div class="col-lg-1">:</div>
    <div class="col-lg-7">{{data.AllowDiscount}}</div>
</div>

<div class="row  pb-1">
  <div class="col font_color">Allow Partial Payment</div>
<div class="col-lg-1">:</div>
<div class="col-lg-7">{{data.AllowPartialPayment}}</div>
</div>

<div class="row  pb-1">
  <div class="col font_color">UserTypeBilling</div>
<div class="col-lg-1">:</div>
<div class="col-lg-7">{{data.UserTypeBilling}}</div>
</div>

<div class="row  pb-1">
  <div class="col font_color">Charges</div>
  <div class="col-lg-1">:</div>
  <div class="col-lg-7">{{data.Charges}}</div>
</div>




  </mat-card>

</div>



