<div>
  <app-patient-history></app-patient-history>
  <div class="overflow-hidden px-4">
    <div class="col-md-12 col-sm-12 col-xs-12 dark-color padding-none">

      <div class="row">
        <!--        <h4>Work History</h4>
        -->
        <div class="text-right w-100 my-2">


          <button class="custome-button mat-primary btn btn-info" (click)="openAddUpdateForm()"
            style="height:32px;width:140px">Add Cognitive</button>

        </div>

      </div>
    </div>
    <div>
      <mat-card class="table-wrapper w-100 row">
        <h4>Function & Cognitive</h4>
        <mat-card-content>
          <div class="row">
            <app-bms-table [config]="tableConfig" [datas]="FuncData" (viewItem)="openCognitiveViewRec($event)"
              (editItem)="openCognitiveEditRecord($event)" (deleteItem)="deleteCognitiveRecord($event)"></app-bms-table>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <app-patientBackbutton></app-patientBackbutton>
</div>