<div class="white mt-3 mb-4 p-1" cdkDrag cdkDragRootElement=".cdk-overlay-pane">

  <div class="white">
    <mat-card class="p-0">

      <h5 cdkDragHandle class="p-3 title-bg"> Setup Billing <button style="color:white" class="close"
          (click)="dialogClose()" aria-label="Close">
          <span aria-hidden="true">X</span>
        </button></h5>

      <div class="scroll-x">
        <div class="row p-0 m-0 scroll-md">
          <div class=" col-lg-6 v-line">

            <div class="row  pb-2  pt-3">
              <div class="col-xl-4 col-lg-4 col-md-4 font_color">Department</div>
              <div class="col-lg-1">:</div>
              <div class="col-lg-7">{{data.DepartmentName}}</div>
            </div>

            <div class="row  pb-2  pt-3">
              <div class="col-xl-4 col-lg-4 col-md-4 font_color">Master Billing</div>
              <div class="col-lg-1">:</div>
              <div class="col-lg-7">{{data.MasterBillingTypeName}}</div>
            </div>

            <div class="row  pb-2  pt-3">
              <div class="col-xl-4 col-lg-4 col-md-4 font_color">SubMaster Billing</div>
              <div class="col-lg-1">:</div>
              <div class="col-lg-7">{{data.SubMasterBillingType}}</div>
            </div>

            <div class="row  pb-2  pt-3">
              <div class="col-xl-4 col-lg-4 col-md-4 font_color">Status</div>
              <div class="col-lg-1">:</div>
              <div class="col-lg-7">{{data.Status}}</div>
            </div>

            <!-- <div class="row  pb-2  pt-3">
              <div class="col-xl-4 col-lg-4 col-md-4 font_color">UserType</div>
              <div class="col-lg-1">:</div>
              <div class="col-lg-7">{{data.UserType}}</div>
            </div> -->

            <div class="row  pb-2  pt-3">
              <div class="col-xl-4 col-lg-4 col-md-4 font_color">OrderNo</div>
              <div class="col-lg-1">:</div>
              <div class="col-lg-7">{{data.OrderNo}}</div>
            </div>

          </div>

          <div class="col-lg-6 v-line">

            <div class="row  pb-2  pt-3">
              <div class="col-xl-4 col-lg-4 col-md-4 font_color">Accepted Payment Mode</div>
              <div class="col-lg-1">:</div>
              <div class="col-lg-7">{{data.AcceptedPaymentMode}}</div>
            </div>

            <div class="row pb-2 pt-3">
              <div class="col-xl-4 col-lg-4 col-md-4 font_color">AllowDiscount</div>
              <div class="col-lg-1">:</div>
              <div class="col-lg-7">{{data.AllowDiscount}}</div>
            </div>

            <!-- <div class="row  pb-2  pt-3">
              <div class="col-xl-4 col-lg-4 col-md-4 font_color">Allow Partial Payment</div>
              <div class="col-lg-1">:</div>
              <div class="col-lg-7">{{data.AllowPartialPayment}}</div>
            </div> -->

            <!-- <div class="row  pb-2  pt-3">
              <div class="col-xl-4 col-lg-4 col-md-4 font_color">UserTypeBilling</div>
              <div class="col-lg-1">:</div>
              <div class="col-lg-7">{{data.UserTypeBilling}}</div>
            </div> -->

            <div class="row  pb-2  pt-3">
              <div class="col-xl-4 col-lg-4 col-md-4 font_color">Charges</div>
              <div class="col-lg-1">:</div>
              <div class="col-lg-7">{{data.Charges}}</div>
            </div>
            
          </div>
        </div>
      </div>

    </mat-card>

  </div>



</div>