<div cdkDrag cdkDragRootElement=".cdk-overlay-pane">
    <h5 cdkDragHandle class="p-3 title-bg">
      {{showvalue}} Department <button style="color: white" class="close" (click)="dialogClose()" aria-label="Close">
        <span aria-hidden="true">X</span>
      </button>
    </h5>
    <div class="overflow-hidden px-3 pb-2">
      <form [formGroup]="DepartmentTypeForm">
        <div class="row">
  
          <div class="col-sm-12 mt-3">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label><span class="required-asterisk" *ngIf="(DepartmentTypeForm.value.DepartmentCode == '' || DepartmentTypeForm.value.DepartmentCode == null) ? true : false">
              </span>Department Code</mat-label>
              <input matInput [readonly]="isReadOnly"
                     placeholder="Enter"
                     formControlName="DepartmentCode"  maxlength="10"/>
            </mat-form-field>
          </div>
  
          <div class="col-sm-12 mt-3">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label><span class="required-asterisk" *ngIf="(DepartmentTypeForm.value.DepartmentDesc == '' || DepartmentTypeForm.value.DepartmentDesc == null) ? true : false">
              </span>Department Description</mat-label>
              <input matInput
                     placeholder="Enter"
                     formControlName="DepartmentDesc" />
            </mat-form-field>
          </div>
  
          <div class="col-sm-12 mt-3">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label><span class="required-asterisk" *ngIf="(DepartmentTypeForm.value.OrderNo == '' || DepartmentTypeForm.value.OrderNo == null) ? true : false">
              </span>Order No  </mat-label>
              <input numeric matInput
                     placeholder="Enter"
                     formControlName="OrderNo" />
            </mat-form-field>
          </div>
  
        </div>
        <div>
          <div class="text-right justify-content-end">
            <button mat-flat-button
                    color=""
                    class="custome-button mat-primary mr-2"
                    (click)="submitDepartment()">
              Save
            </button>
            <button mat-stroked-button
                    class="transperent-button"
                    color="primary"
                    type="button"
                    (click)="cleartheForm()">
              Clear
            </button>
          </div>
        </div>
      </form>
    </div>
  
  </div>
  