
.overflow600px {
    overflow: auto;
    max-height: 300px;
    overflow-x: hidden;
  }

  .overflow100px {
    overflow: auto;
    max-height: 170px;
    overflow-x: hidden;
  }

  :host ::ng-deep .validate .mat-radio-group.ng-invalid .mat-radio-outer-circle {
    border-color: #f73a2c;
  }
  :host ::ng-deep .validate .mat-radio-group.ng-invalid .mat-radio-label-content {
  color: #f44336;
  }