<div class="white" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <h5 cdkDragHandle class="p-3 title-bg">
    Problem List View <button style="color:white" class="close" (click)="dialogClose()" aria-label="Close">
      <span aria-hidden="true">X</span>
    </button>
  </h5>
  <form [formGroup]="ProblemListForm">
    <mat-card class=" px-3 py-1 my-2">
      <div class="row w-100">
        <div class="col-xl-3 col-lg-6 pt-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Visit Date & Time</mat-label>
            <input matInput placeholder="Enter" formControlName="visitDateandTime">
          </mat-form-field>
        </div>
        <div class="col-xl-2 col-lg-6 pt-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Recorded Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="RecordedDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-lg-2 timepick pt-2">
          <mat-form-field class="input-full-width timer w-100" appearance="outline">
            <input matInput [ngxTimepicker]="toggleTimepicker1" [disableClick]="true" formControlName="RecordedTime">
            <mat-label>Record Time</mat-label>
            <ngx-material-timepicker-toggle [for]="toggleTimepicker1">
            </ngx-material-timepicker-toggle>
            <ngx-material-timepicker #toggleTimepicker1>
            </ngx-material-timepicker>
          </mat-form-field>
        </div>
        <div class="col-xl-2 col-lg-6 pt-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Recorded During</mat-label>
            <input matInput placeholder="Enter" formControlName="recordedDuring">
          </mat-form-field>
        </div>
        <div class="col-xl-3 col-lg-6 pt-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Recorded By</mat-label>
            <input matInput placeholder="Enter" formControlName="RecordedBy">
          </mat-form-field>
        </div>
      </div>
    </mat-card>
  </form>
  <mat-card class="p-1">
    <div class="scroll-x">
      <div class="row p-0 m-0 scroll-md">
        <div class="col-xl-6">
          <div class="v-line">
            <div class="pt-3 pb-2">
              <div class="row pb-1 pt-3">
                <div class="col font_color">Problem Type</div>
                <div class=" col-lg-1 ">:</div>
                <div class=" col-lg-7 ">{{data.ProblemTypeDesc}}</div>
              </div>
              <div class="row pb-1 pt-3">
                <div class="col font_color">Problem Description</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.ProblemDescription}}</div>
              </div>
              <div class="row pb-1 pt-3">
                <div class="col font_color">ICD Code</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.ICD10Code}}</div>
              </div>
              <div class="row pb-1 pt-3">
                <div class="col font_color">SNOMED Code</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.SNOMEDCode}}</div>
              </div>
              <div class="row pb-1 pt-3">
                <div class="col font_color">Notes</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.Notes}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="v-line">
            <div class="pt-3 pb-1">
              <div class="row pb-1 pt-3">
                <div class="col font_color">Aggravated by</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.Aggravatedby}}</div>
              </div>
              <div class="row pb-1 pt-3">
                <div class="col font_color">Alleviated By</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.AlleviatedBy}}</div>
              </div>
              <div class="row pb-1 pt-3">
                <div class="col font_color">Diagnosed Date</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.DiagnosedDate | date : 'dd-MM-yyyy'}}</div>
              </div>
              <div class="row pb-1 pt-3">
                <div class="col font_color">Problem Status</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.Status}}</div>
              </div>
              <div class="row pb-1 pt-3">
                <div class="col font_color">Resolved Date</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.ResolvedDate | date : 'dd-MM-yyyy'}}</div>
              </div>
              <div class="row pb-1 pt-3">
                <div class="col font_color">Attending Physican</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.AttendingPhysican}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
  <mat-card class="p-1 wrapper">
    <div class="scroll-x">
      <div class="row p-3 m-0 scroll-md">
        <div class="col-xl-6">
          <div class="v-line">
            <mat-list-item *ngFor="let file of ViewFileProblemList; let even=even">
              <div class="pb-2 pt-3" *ngIf="even">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp;&nbsp;
                <a [href]="file.FileBlobUrl" target="_blank">{{file.FileName}}</a>&nbsp; [{{file.Size}}]
              </div>
            </mat-list-item>
          </div>
        </div>

        <div class="col-xl-6">
          <div class="v-line">
            <mat-list-item *ngFor="let file of ViewFileProblemList ;let odd=odd">
              <div class="pb-2 pt-3" *ngIf="odd">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp;&nbsp;
                <a [href]="file.FileBlobUrl" target="_blank">{{file.FileName}}</a>&nbsp; [{{file.Size}}]
              </div>
            </mat-list-item>
          </div>
        </div>

      </div>
    </div>
  </mat-card>
</div>