
<form [formGroup]="BillingSetupEditForm">
  <mat-card class="px-3 py-1 overflow-hidden">
    <div class="row">


      <div class="col-xl-3 col-lg-6 pb-3 pt-3">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label> Department </mat-label>
          <input type="text" matInput [matAutocomplete]="AutoDepartment" formControlName="DepartmentID">
          <mat-autocomplete #AutoDepartment="matAutocomplete">
            <mat-option *ngFor="let option of DepartmentInfo" (click)="departmentID(option.DepartmentID)" [value]="option.DepartmentDesc">
              {{option.DepartmentDesc}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>


      <div class="col-xl-3 col-lg-6 pb-3 pt-3">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>BillingMaster</mat-label>
          <input type="text" matInput [matAutocomplete]="autoMasterBilling" formControlName="MasterBillingType">
          <mat-autocomplete #autoMasterBilling="matAutocomplete">
            <mat-option *ngFor="let option1 of MasterBillingTypInfo" (click)="masterbillingID(option1.BillingMasterID)" [value]="option1.BillingTypeDesc">
              {{option1.BillingTypeDesc}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="col-xl-3 col-lg-6 pb-3 pt-3">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>BillingSubMaster</mat-label>
          <input type="text" matInput [matAutocomplete]="autoicd" formControlName="SubMasterBillingType">
          <mat-autocomplete #autoicd="matAutocomplete">
            <mat-option *ngFor="let option of SubMasterBillingTypInfo" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>


      <!--div class="col-xl-3 col-lg-6 pb-3 pt-3">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Status</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let Sts of Status" [value]="Sts" formControlName="Status">
                      {{Sts}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
      -->
      <div class="col-xl-3 col-lg-6  pb-3 pt-3">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Status</mat-label>
          <input matInput placeholder="Enter Status" formControlName="Status">
        </mat-form-field>
      </div>







      <div class="col-xl-3 col-lg-6  pb-3 pt-3">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>UserType</mat-label>
          <input matInput placeholder="Enter UserType" formControlName="UserType">
        </mat-form-field>
      </div>


      <!-- <div class="col-xl-3 col-lg-6  pb-3 pt-3">
         <mat-form-field class="w-100" appearance="outline">
           <mat-label>UserTypeBilling</mat-label>
           <input matInput placeholder="Enter UserTypeBilling" formControlName="UserTypeBilling">
         </mat-form-field>
       </div>-->
      <div class="col-xl-3 col-lg-6  pb-3 pt-3">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Order Number</mat-label>
          <input matInput placeholder="Enter OrderNumber" formControlName="OrderNo">
        </mat-form-field>
      </div>


      <div class="col-xl-3 col-lg-6  pb-3 pt-3">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>AcceptedPaymentMode </mat-label>
          <input matInput placeholder="Enter AcceptedPaymentMode" formControlName="AcceptedPaymentMode">
        </mat-form-field>
      </div>

      <!-- <div class="col-xl-3 col-lg-6  pb-3 pt-3">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Accepted Payment Method</mat-label>
                  <mat-select formControlName="AcceptedPaymentMode" multiple>
                    <mat-option *ngFor="let Payment of AcceptedPaymentMethod" [value]="Payment">
                      {{Payment}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
      -->
      <div class="col-xl-2 col-lg-6 pb-3 pt-3">
        <section class="example-section">
          <mat-checkbox class="example-margin" formControlName="AllowDiscount">Allow Discount </mat-checkbox>

        </section>
      </div>


      <div class="col-xl-2 col-lg-6 pb-3 pt-3">
        <section class="example-section">
          <mat-checkbox class="example-margin" formControlName="AllowPartialPayment">Allow Partial Payment </mat-checkbox>

        </section>
      </div>

      <div class="col-xl-2 col-lg-6 pb-3 pt-3">
        <section class="example-section">
          <mat-checkbox class="example-margin" formControlName="UserTypeBilling">Allow UserTypeBilling </mat-checkbox>

        </section>
      </div>




      <!--div class="col-xl-2  col-lg-6 pb-3 pt-3">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>User Type Billing</mat-label>
          <mat-select>
            <mat-option *ngFor="let User of UserTypeBilling" [value]="User" formControlName="UserTypeBilling">
              {{User.UserTypeBilling}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div-->
      <!--<div class="col-xl-3 col-lg-6  pb-3 pt-3">
                <mat-form-field appearance="outline">
                  <mat-label>UserType</mat-label>
                  <mat-select formControlName="UserType" multiple>
                    <mat-option *ngFor="let User of UserType" [value]="User">{{User}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
      -->

      <div class="col-xl-2 col-lg-6  pb-3 pt-3">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Charges</mat-label>
          <input matInput placeholder="Enter Charges" formControlName="Charges">
        </mat-form-field>
      </div>

      <div class="col-xl-2 col-lg-6  pb-3 pt-3"></div>


      <div class="row">
        <div class=" pb-5 pt-5">
          <div class=" text-right">
            <button mat-flat-button color="primary" class="custome-button mat-primary mr-2" (click)="submitData()">Update</button>
            <button mat-stroked-button class="transperent-button" color="primary" >Reset</button>
          </div>
        </div>
      </div>

    </div>

  

  </mat-card>

</form>



<!--<h1> bye</h1>
-->
