<div class="d-flex justify-content-between w-100 align-items-center pt-2">
        <div class="row justify-content-between w-100 opdstop">
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 opdstopres pl-0">
                        <div class=" barcode-scan">
                                <div class="barcode">
                                        <img src="assets/images/opd/barcode.png" />
                                </div>
                                <span>1234567</span>
                        </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 opdstopres pl-0">
                        <button mat-flat-button class="custome-button mat-primary barbtn" (click)="viewPatient()"> 
                                Submit
                        </button>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 opdstopres">
                        <input type="search" placeholder="Search" class="barsearch">
                </div>
        </div>
</div>


