<div class="overflow-hidden pr-4 pl-4 pb-4">
  <physician-commonNoVisit></physician-commonNoVisit>
  <div class="row mt-4">
    <div class="col-md-12 col-sm-12 col-xs-12 dark-color padding-none">
      <form>
        <div class="row">
          <div class="col-12">
            <mat-card>
              <div class="row">
                <div class="col-xs-12 p-3 w-100">
                  <div class="table-responsive shroff-table">
                    <table class="table w-100">
                      <thead>
                        <tr>
                          <th>S.No</th>
                          <th>Patient Name</th>
                          <th>Register Date</th>
                          <th>Register Time</th>
                          <th>To Consult</th>
                          <th>Urgency</th>
                           <th>Action</th> 
                          <!-- <th>Current Location</th> -->
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="bg-white rounded shadow-sm">
                          <td>1</td>
                          <td><img src="assets/images/patient-profile.png" width="39px" /><span class="pl-2"> Mr.Rahul
                              Sharma</span></td>
                          <td>14-12-2018</td>
                          <td>03:00 PM</td>
                          <td>Dr.Amit Vyas/ ENT Surgery</td>
                          <td>Elective</td>
                           <td><button color="" class="btn btn-primary w-100 mb-0 shadow" (click)="openOPD()">Open</button></td> 
                          <!-- <td>OPD Waiting Room</td> -->
                        </tr>

                        <tr class="bg-white rounded shadow-sm">
                          <td>2</td>
                          <td><img src="assets/images/patient-profile2.png" width="39px" /><span class="pl-2">
                              Suresh</span></td>
                          <td>29-01-2019</td>
                          <td>12:30 PM</td>
                          <td>Dr.Sharma/ ENT Surgery</td>
                          <td>Elective</td>
                           <td><button color="" class="btn btn-primary w-100 mb-0 shadow">Open</button></td> 
                          <!-- <td>OPD Waiting Room</td> -->
                        </tr>

                        <tr class="bg-white rounded shadow-sm">
                          <td>3</td>
                          <td><img src="assets/images/patient-profile.png" width="39px" /><span class="pl-2">
                              Singh</span></td>
                          <td>02-04-2019</td>
                          <td>09:45 AM</td>
                          <td>Dr.Amit Vyas/ ENT Surgery</td>
                          <td>Elective</td>
                           <td><button color="" class="btn btn-primary w-100 mb-0 shadow">Open</button></td> 
                          <!-- <td>OPD Waiting Room</td> -->
                        </tr>

                        <tr class="bg-white rounded shadow-sm">
                          <td>4</td>
                          <td><img src="assets/images/patient-profile2.png" width="39px" /><span class="pl-2">
                              Sharma</span></td>
                          <td>30-05-2019</td>
                          <td>10:50 AM</td>
                          <td>Dr. Raja Singh/ ENT Surgery</td>
                          <td>Elective</td>
                           <td><button color="" class="btn btn-primary w-100 mb-0 shadow">Open</button></td> 
                          <!-- <td>OPD Waiting Room</td> -->
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!--end of .table-responsive-->
                </div>
              </div>
            </mat-card>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
