<div cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <div class="white mt-1">
    <h5 cdkDragHandle class="p-3 title-bg">
      Patient Procedure<button style="color:white" class="close" (click)="dialogClose()" aria-label="Close">
        <span aria-hidden="true">X</span>
      </button>
    </h5>

    <form [formGroup]="ProcedureViewForm">
      <mat-card class="px-4 py-2 my-2">
        <div class="row">
          <div class="col-xl-3 col-lg-6 pb-3 pt-3">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Visit Date & Time</mat-label>
              <input matInput placeholder="Enter" formControlName="visitDateandTime">
            </mat-form-field>
          </div>

          <div class="col-xl-2 col-lg-6 pb-3 pt-3">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Recorded Date</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="RecordedDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-lg-2 timepick pb-3 pt-3">
            <mat-form-field class="input-full-width timer w-100" appearance="outline">
              <input matInput [ngxTimepicker]="toggleTimepicker1" [disableClick]="true" formControlName="RecordedTime">
              <mat-label>Recorded Time</mat-label>
              <ngx-material-timepicker-toggle [for]="toggleTimepicker1"></ngx-material-timepicker-toggle>
              <ngx-material-timepicker #toggleTimepicker1></ngx-material-timepicker>
            </mat-form-field>
          </div>

          <div class="col-xl-2 col-lg-6 pb-3 pt-3">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Recorded During</mat-label>
              <input matInput placeholder="Enter" formControlName="recordedDuring">
            </mat-form-field>
          </div>

          <div class="col-xl-3 col-lg-6 pb-3 pt-3">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Recorded By</mat-label>
              <input matInput placeholder="Enter" formControlName="RecordedBy">
            </mat-form-field>
          </div>
        </div>
      </mat-card>
    </form>

    <mat-card class="p-1">
      <div class="row p-0 m-0 scroll-md">

        <div class="col-xl-6">
          <div class="v-line">
            <div class="pt-3 pb-2">
              <div class="row pb-2 pt-3">
                <div class="col font_color">Chief Complaint</div>
                <div class="col-xl-1 col-lg-1 col-md-1">:</div>
                <div class="col-xl-7 col-lg-7 col-md-7">{{data.ChiefComplaint}}</div>
              </div>

              <div class="row  pb-2 pt-3">
                <div class="col font_color">Diagnosis Notes</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.DiagnosisNotes}}</div>
              </div>

              <div class="row  pb-2 pt-3">
                <div class="col font_color">Treatment Type</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.TreatmentType}}</div>
              </div>

              <div class="row  pb-2 pt-3">
                <div class="col font_color">Procedure Notes</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.ProcedureNotes}}</div>
              </div>

              <div class="row  pb-2 pt-3">
                <div class="col font_color">Requested Procedure</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.requestedProcedureValues}}</div>
              </div>

              <div class="row  pb-2 pt-3">
                <div class="col font_color">Procedure Date</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.Proceduredate | date : 'dd-MM-yyyy'}}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-6">
          <div class="v-line">
            <div class="pt-3 pb-2">
              <div class="row pb-1 pt-3">
                <div class="col font_color">Primary CPT Code</div>
                <div class="col-xl-1 col-lg-1 col-md-1">:</div>
                <div class="col-xl-7 col-lg-7 col-md-7">{{data.PrimaryCPT}}</div>
              </div>

              <div class="row pb-1 pt-3">
                <div class="col font_color">Procedure Status</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.ProcedureStatus}}</div>
              </div>

              <div class="row  pb-1 pt-3">
                <div class="col font_color">Referral Notes</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.ReferralNotes}}</div>
              </div>

              <div class="row  pb-1 pt-3">
                <div class="col font_color">Primary ICD Code</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.PrimaryICD}}</div>
              </div>

              <div class="row  pb-1 pt-3">
                <div class="col font_color">Follow Up Notes</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.FollowUpNotes}}</div>
              </div>

              <div class="row  pb-1 pt-3">
                <div class="col font_color">Additional Notes</div>
                <div class="col-lg-1">:</div>
                <div class="col-lg-7">{{data.AdditionalNotes}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>